<div class="account_container">
  <app-nav currentRoute="account"></app-nav>

  <div class="account_content__container">
    <div class="account_header__container">
      <div class="header_inner">
        <div class="user">
          <img
            src="../../../assets/imgs/men.jpg"
            alt="Can't load the image"
          />
          <div class="details">
            <div class="name">{{ userData.name }}</div>
            <div class="address">Tacloban City</div>
          </div>
        </div>
        <div class="account_options">
          <i routerLink="/account/setting" class="fal fa-cog"></i>
        </div>
      </div>
    </div>

    <div class="purchase__container">
      <div class="header">
        <div class="title">
          <i class="fal fa-clipboard-list"></i>
          My Purchases
        </div>
        <div class="seeall_purchase_btn">View Purchase History</div>
      </div>
      <div class="content">
        <mat-tab-group mat-align-tabs="center" class="acc-tabs">
          <mat-tab>
            <ng-template mat-tab-label>
              <div class="" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
                <i class="fal fa-wallet"></i>
                <p>To Pay</p>
              </div>
            </ng-template>
            <div class="">
              lorem
            </div>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <div class="" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
                <i class="fal fa-box-alt"></i>
                <p>To Ship</p>
              </div>
            </ng-template>
            <div class="">
              lorem
            </div>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <div class="" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
                <i class="fal fa-truck"></i>
                <p>To Recieve</p>
              </div>
            </ng-template>
            <div class="">
              lorem
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>


    <div class="userstore__container">
      <div class="toStore_btn" routerLink="/account/store">
        Go to your store
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
