<div class="carousel-container">
  <div class="car-container">
    <div class="carousel" id="car">
      <splide  [options]="{ type: 'loop', perPage: 1, keyboard: false, autoplay: true }">
        <splide-slide *ngFor='let photo of photo_slides'>
          <img src='{{photo}}' alt='{{photo}}'/>
        </splide-slide>
    </splide>
    </div>
    <div class="car-boxes">
        <div class="box" *ngFor='let box_image of boxes_images'>
          <img src='{{box_image}}' alt='{{box_image}}' />
        </div>
    </div>
  </div>
    


</div>
