*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}


$shadow:rgba(0,0,0,.3);


.check-out-container{
    display:grid;
    .user-information{
        display:grid;
        border-radius:10px 10px 0px 0px;
        margin:30px 30px 5px 30px;
        box-shadow:0px 0px 3px $shadow;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        padding:10px 0px;
        .address-banner{
            margin:30px 10px 10px 40px;
            display:grid;
            grid-template-columns: auto 1fr;
            grid-gap:10px;
            font-size: 1.3rem;
        }
        .user-details{
            display:grid;
            grid-template-columns: 1fr 1fr 1fr;
            align-content: center;
            justify-items: center;
            div{
                text-align: center;
            }
        }
    }
    .tables{
        display: grid;
        box-shadow: 0px 0px 3px $shadow;
        margin:0px 30px;
        height: 50px;
        ol{
            display: grid;
            grid-template-columns: 1fr 20% 20% 20%;
            justify-items: center;
            align-items: center;
            text-align: center;
            li{
                list-style: none;
            }
        }
    }
    .product-list{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        margin:10px 30px;
        align-items: center;
        box-shadow: 0px 0px 3px $shadow;
        .store{
            border-bottom: 1px solid #2f2f2f;
            align-content: center;
            min-height: 50px;
            display: grid;
            grid-template-columns: auto auto 1fr;
            grid-gap: 10px;
            margin:0px 30px;
            .chat{
                border-left:1px solid black;
                display: grid;
                grid-template-columns: auto auto 1fr;
                cursor: pointer;
                justify-items: center;
                align-items: center;
                grid-gap: 10px;
                padding-left:10px;
                color:#0fc98b
            }
        }
        .product{
            ol{
                display: grid;
                grid-template-columns: 1fr 20% 20% 20%;
                justify-items: center;
                align-items: center;
                li{
                    list-style: none;
                    img{
                        margin:10px 20px;
                        width:50%;
                    }
                }
            }
        }
    }
      
    .place-order{
        display:flex;
        justify-content: end;
        align-items: center;
        min-height:50px;
        margin:0px 30px 10px 30px;
        box-shadow: 0px 0px 3px $shadow;
        border-radius: 0px 0px 10px 10px;
        .btn{
            display:flex;
            color:white;
            width: 10rem;
            height: 100%;
            background-color:rgb(223, 21, 21);
            justify-content: center;
            align-items: center;
        }
    }
    .payment-container{
        display:grid;
        grid-template-columns: 1fr;
        grid-column: 1fr auto;
        margin:0px 30px;
        box-shadow: 0px 0px 3px $shadow;
        .payment-method{
            margin:10px 0px;
            ol{
                display: grid;
                grid-template-columns: 1fr 25% 25%;
                text-align: center;
                align-items:center ;
                li{
                    list-style: none;
                }
            }
        }
        .payment-info{
            display: grid;
            grid-template-columns: 1fr 1fr;
            ol{
                display: grid;
                justify-content: end;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr;
                align-items: center;
                li{
                    text-align: center;
                    list-style: none;
                    margin:5px 10px;
                }
            }
        }
    }
}

@media only screen and (max-width:650px){
    .check-out-container{
        .user-information{
            border-radius:0px 0px 0px 0px;
            margin:0px 0px;
            .user-details{
                font-size:12px;
                text-align: center;
                justify-items: center;
            }
        }
        .tables{
            margin:0px 0px;
            ol{
                font-size:12px;
            }
        }
        .payment-container{
            margin:0px 0px;
            .payment-method{
                ol{
                    font-size: 12px;
                }
            }
            .payment-info{
                ol{
                    font-size: 12px;
                    li{
                        text-align: left;
                    }
                }
            }           
        }
        .product-list{
            font-size: 14px;
            margin:0px 0px;
            .store{
                margin:0px 0px;
                text-indent: 10px;
            }
        }  
        .place-order{
            margin:0px 0px;
            border-radius:0px 0px 0px 0px;
        }     
    }   
}