
$color:#735C5C;

.topProducts-container {
  

  .container{
    display: grid;
    grid-gap: 15px;
    grid-auto-flow: column;
    overflow-x: scroll;
    padding-bottom: 20px;
    

    app-product {
      width: 165px;

    }

    app-product:nth-child(1) {
      margin-left: 20px;
    }
}

  .content-title{
    padding: 20px 20px 10px;
    color:$color;
  } 
}

::-webkit-scrollbar{
  height:5px;
}

::-webkit-scrollbar-track{
  box-shadow: inset 0px 0px 5px rgb(3, 73, 18);
  border:10px;
}

::-webkit-scrollbar-thumb{
  background-color:rgb(33, 114, 160);
}