<footer>
    <div class="group-icons">
        <div class="box">
            <a href='' id='home-link'>
                <i id='home' class="far fa-home-alt fa-2x"></i>
                <h3>Home</h3>
            </a>
        </div>
        <div class="box">
            <a href='' id='tags'>
                <i id="local"class="fal fa-tag fa-2x"></i>
                <h3>Tag</h3>
            </a>
        </div>
        <div class="box">
            <a id='store-link' href=''>
                <i id="store"class="fal fa-store-alt fa-2x"></i>
                <h3>Store</h3>
            </a>
        </div>
        <div class="box">
            <a id="person"href="">
                <i class="fal fa-user-alt fa-2x"></i>
                <h3>Me</h3>
            </a>
        </div>
    </div>
</footer>

