<footer>
  <div class="group-icons">
    <a routerLink="/" class="box">
      <i id='home' class="far fa-home-alt"></i>
      <h5>Home</h5>
    </a>
    <a routerLink="/categories" class="box">
      <i id="local"class="far fa-tag"></i>
      <h5>Categories</h5>
    </a>
    <a routerLink="/categories" class="box">
      <i id="store"class="far fa-store"></i>
      <h5>Store</h5>
    </a>
    <a routerLink="/categories" class="box">
      <i class="far fa-user"></i>
      <h5>Me</h5>
    </a>
  </div>
</footer>

