<footer>
  <div class="group-icons">
    <div class="box">
      <a href='' id='home-link'>
        <i id='home' class="far fa-home-alt"></i>
        <h5>Home</h5>
      </a>
    </div>
    <div class="box">
      <a href='' id='tags'>
        <i id="local"class="far fa-tag"></i>
        <h5>Categories</h5>
      </a>
    </div>
    <div class="box">
      <a id='store-link' href=''>
        <i id="store"class="far fa-store"></i>
        <h5>Store</h5>
      </a>
    </div>
    <div class="box">
      <a id="person"href="">
        <i class="far fa-user"></i>
        <h5>Me</h5>
      </a>
    </div>
  </div>
</footer>

