<div class="message-container">
    <div class="message-head">
        <nav class="nav">
            <a href="/account/store/#"class="close"><i class="material-icons-outlined">arrow_back</i></a>
            <img src="https://avatars.githubusercontent.com/u/59472122?v=4" alt=""class="profile">
            <h3 class="myname">Customer</h3>
            
        </nav>
        
    </div>
    <br><br><br><br>
    <div class="message-list">
        <div class="message-profile">
             <img src="https://scontent.fceb2-2.fna.fbcdn.net/v/t1.6435-9/199538667_2560456557434428_6360688576988264847_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeFCeCiMWWK_2XyfhcKxOa3NHFEubb2h40AcUS5tvaHjQEUzOcbfvab928_6fbVtpOkr9THZLQr-B3SGZ8oLmM_q&_nc_ohc=tPftrWFfVVgAX88rset&tn=-wxwBP_WPyFetnlM&_nc_ht=scontent.fceb2-2.fna&oh=a23402726f4d7a4cc7007f7e6bf11747&oe=61583A67" alt=""class="myprofile">
        </div>
    <div class="message-details">
             <h3>Luigi Loreno</h3>
             <div class="message-nav">
                 <nav class="nav1">
                      <p class="msg_for_item">I order this item, how many stock you have in this items</p>
                      <sub>1:45 AM</sub>
                 </nav>
             </div>
    </div>
    </div>
    <div class="message-list">
      <div class="message-profile">
           <img src="https://scontent.fdvo1-1.fna.fbcdn.net/v/t1.6435-9/92830110_3763332807071604_6641068352234061824_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=174925&_nc_eui2=AeGxQoCq64Pqj0_mkLh8dw_qW-Q-vN0s_EBb5D683Sz8QAXg2W_uJqwvOKMa1Jx1NAF_tWWJm5ap5NjeiQ5teCGW&_nc_ohc=tk5oU1foxBYAX-PpbIN&tn=LBsI2EVjJvAmcLrk&_nc_ht=scontent.fdvo1-1.fna&oh=bfb568e80ecb2be50368e81f1b7e2529&oe=61595E86" alt=""class="myprofile">
      </div>
   <div class="message-details">
           <h3>John Jefferson</h3>
           <div class="message-nav">
               <nav class="nav1">
                    <p class="msg_for_item">I order this item, how many stock you have in this items</p>
                    <sub>12:45 AM</sub>
               </nav>
           </div>
   </div>
   </div>
   <div class="message-list">
      <div class="message-profile">
           <img src="https://scontent.fdvo1-1.fna.fbcdn.net/v/t39.30808-1/c4.0.320.320a/p320x320/238918757_4005902089537555_8993149938043408021_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=7206a8&_nc_eui2=AeGTAbw4tpo0neW0idowS7zy0dvMPkXUtLPR28w-RdS0s7vabOu3VuKKgfVr1eK5rv5jn01Bys2oQ6daqhJpyf2a&_nc_ohc=1dlFGRhmVt0AX_FvXiv&_nc_ht=scontent.fdvo1-1.fna&oh=56dd9678769a7b958b113604a2cc07b3&oe=6159F590" alt=""class="myprofile">
      </div>
   <div class="message-details">
           <h3>Christian Paranas</h3>
           <div class="message-nav">
               <nav class="nav1">
                    <p class="msg_for_item">I order this item, how many stock you have in this items</p>
                    <sub>12:45 AM</sub>
               </nav>
           </div>
   </div>
   </div>
   
</div>