<div class='my-profile-container'>
    <!---cheering-animation-->
    <img src='../../../../../assets/gif/man-with-computer.gif'  lat='man-with-computer' class='man-with-computer'/>
    <!------form-of-profile-editing-->
    <div class='from-container'>
        <h3 class="subtitle">{{user.name}}`s Profile</h3>       
        <form>
            <div class="prof-container">
                <div class='circle'>
                    <img src="https://avatars.githubusercontent.com/u/59472122?v=4">
                    <input type="file" id="file" name="image" >
                </div>
            </div>
            <mat-form-field>
                <mat-label>User Name</mat-label>
                <input matInput placeholder="" value="">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput placeholder="" value="">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput placeholder="" value="">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Date of Birth</mat-label>
                <input matInput placeholder="" value="">
            </mat-form-field>
            
            <button name="confirm" class='confirm'>CONFIRM</button>
            <button class='cancel'>CANCEL</button>
        </form>
    </div>
</div>
