@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;900&display=swap');

$textHeaderColor:#725C5C;
$btnBgColor:#904490;
$font-family:'Montserrat', sans-serif;

header {
  width:100%;
  height: 15rem;
  display:flex;
  flex-direction: column;
  color:$textHeaderColor;

  .back-container,
  .logo-container {
      flex:1;
  }

  .logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-family;
    font-size: 1rem;
    width:100%;
    text-align: center;
  }

  .back-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    .back-container-margin {
        display:flex;
        width:80%;
        height: 100%;
        align-items: center;

      i {
        background-color: $btnBgColor;
        border-radius: 999px;
        overflow: hidden;
        color: white;
        font-weight: lighter;
        text-align: center;
      }
    }
  }
}