@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;900&display=swap');

$textHeaderColor:#725C5C;
$btnBgColor:#904490;
$font-family:'Montserrat', sans-serif;

header {
  width:100%;
  height: fit-content;
  display:flex;
  flex-direction: column;
  color:$textHeaderColor;
  padding: 20px 0;

  .back-container,
  .logo-container {
      flex:1;
  }

  .logo-container{
    pointer-events: none;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-family;
    font-size: 12px;
    width:100%;
    text-align: center;
  }

  .back-container {
    width: 100%;

    .container {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: $btnBgColor;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      box-shadow: 0 4px 4px 0 RGB(43 80 237 / 20%);

      i {
        color: white;
        text-align: center;
        font-size: 20px;

      }
    }
  }

  .backBtnStyle {
    display: none;
  }
}