@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;900&display=swap");
$shadow:rgba(0,0,0,.5);

.content-container{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .items-list{
        min-width:350px;
        margin: 20px;
        display: grid;
        grid-template-columns: repeat(1fr 1fr 1fr);
        box-shadow: 0px 0px 3px $shadow;
        .about-items{
            display:grid;
            grid-template-columns: 1fr 1fr;
            margin:10px;
            padding-bottom: 10px;
            border-bottom:2px solid $shadow;
            .item-header{
                i{
                    text-indent: 10px;
                }
            }
            .edit{
                display:flex;
                justify-content: flex-end;
                margin-right:10px;
            }
        }
        
        .item-info{
            margin:10px;
            display: grid;
            grid-gap: 10px;
            grid-template-columns: auto 50% 1fr;
            .product-image {
                overflow: hidden;
                height: 165px;
            
                img {
                width: 100%;
                min-height: 165px;
                border-radius: 8px 8px 0 0;
                max-height: 200px;
                object-fit: cover;
                transition: transform 0.5s ease;
                transform: scale(1.1);
                }
            }
            
            .item-details{
                display: grid;
                grid-template-rows: 1fr 1fr auto;
                align-items: center;
                justify-content: center;
                .product-name{
                    text-align: center;
                }
                .changer {
                    display: grid;
                    grid-template-columns: repeat(3, 40px);
                    place-items: center;
                    border: 1px solid #e3e3e3;
                    width: fit-content;
                    padding: 0;
                    border-radius: 8px;
                    box-shadow: 0 4px 4px 0 RGB(43 80 237 / 20%);
        
                    div {
                    width: 100%;
                    text-align: center;
                    padding: 5px 0;
                    }
        
                    .increment,
                    .decrement {
                    border: 1px solid #fff;
        
                    &:hover {
                        border: 1px solid #000;
                    }
                    }
                    
                    .increment {
                    border-radius: 0 8px 8px 0;
                    cursor: pointer;
                    }
        
                    .decrement {
                    border-radius: 8px 0 0 8px;
                    cursor: pointer;
                    }
                }
            }
        }
    }
}
