<app-nav></app-nav>
<div class='store-content-container'>
    <div class='margin-top'></div>
    <div class='store-header'>
        <div class='store-signage'>
            <div class='img-container'>
                <img src="https://avatars.githubusercontent.com/u/59472122?v=4" alt="store profile">
                <p>{{storeName}}</p>
            </div>
            <div class='popularity-event'>
                <div class='btn-container'>
                    <div (click)='isFollowed()' class='follow'>
                        <i class="fas fa-smile-plus"></i>
                        <p>{{follow}}</p>
                    </div>
                </div>
                <div class='btn-container'>
                    <div class='inbox'>
                        <i class="fas fa-inbox-in"></i>
                        <p>Message Us</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class='store-details-and-activities'>
            <div class='details-container'>
                <i class="fas fa-store"></i>
                <p>following: </p>
                <p>5</p>
            </div>
            <div class='details-container'>
                <i class="fas fa-satellite-dish"></i>
                <p>follower: </p>
                <p>2000</p>
            </div>
            <div class='details-container'>
                <i class="fas fa-calendar-check"></i>
                <p>Store Create At: </p>
                <p>3 years ago</p>
            </div>
            <div class='details-container'>
                <i class="fas fa-comments"></i>
                <p>Chat Performance: </p>
                <p>80% Within hour</p>
            </div>
            <div class='details-container'>
                <i class="fas fa-box-full"></i>
                <p>Product: </p>
                <p>169</p>
            </div>
            <div class='details-container'>
                <i class="fas fa-star-half-alt"></i>
                <p>Rating: </p>
                <p>4.5(1k rate)</p>
            </div>
        </div>
        
    </div>
    <div>
        <app-discover contentName='STORE`S PRODUCTS'></app-discover>
    </div>
</div>

