*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    $font-family:'Montserrat', sans-serif;
}

app-nav{
    display:fixed;
    top:0;
    left:0;
}

.store-content-container{
    display:grid;
    margin:0px 20px;
    grid-template-rows: 3.4rem 15rem 1fr;
    grid-template-columns: 1fr ;
    .store-header{
        display: grid;
        grid-template-columns:1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 20px;
        .store-signage{
            display: grid;
            color:white;
            grid-template-columns: 1fr;
            grid-template-rows:1fr  1fr;
            background-image:radial-gradient(rgb(13, 109, 133),rgb(0,0,0));
            .img-container{
                display:flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                p{
                    transform: translateY(-20px);
                    background-color: rgb(13, 109, 133);
                    padding:3px 10px;
                    border-radius: 3px;
                    font-weight: bold;
                }
                img{
                    margin: 5px 0;
                    box-shadow: 0px 0px 5px aqua;
                    height: 5rem; width: 5rem;
                    border-radius: 999px;
                }
            }
            
            .popularity-event{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr;
            }
            
            .btn-container{
                display:flex;
                align-items: center;
                justify-content: center;
                .follow,.inbox{
                    cursor: pointer;
                    display: flex;
                    width: 80%;
                    justify-content: center;
                    align-items: center;
                    outline:1px solid white;
                    i{
                        font-size: 1.2rem;
                        margin:5px;
                    }
                }
                .follow:hover,
                .inbox:hover{
                    outline: none;
                    box-shadow: inset 0px 0px 5px aqua;
                    text-shadow: 0px 0px 3px aqua;
                    background-color: rgba(255,255,255,.3);
                    color:black;
                }
            }
            }
            
            .store-details-and-activities{
                margin:10px 0;
                display:grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr;
                .details-container{
                    display:flex;
                    justify-content: flex-start;
                    align-items: center;
                    text-indent: 3px;
                    p{
                        font-size:12px;
                    }
                }
            }
            
        }
    }    
    
    
    @media only screen and (max-width:687px) {
        .store-content-container{
            display:grid;
            width:100%;
            margin:0;
            grid-template-rows: 3.4rem auto 1fr;
            grid-template-columns: 1fr;
            .store-header{
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr;
            }
            .store-details-and-activities{
                .details-container{
                    display:flex;
                    justify-content: flex-start;
                    align-items: center;
                    flex-direction: column;
                }
            }
            .store-signage{
                .btn-container{
                    .follow,.inbox{
                        width:100%;
                    }
                }

            }
        }
    }