@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;900&display=swap");

$shadow: rgba(0, 0, 0, 0.5);
$background-notification: rgba(0, 0, 0, 0.3);
$colorContras: white;
$shadow: 0px -1px 2px rgba(0, 0, 0, 0.5);
$background-color: #fff;
$checkout-color: rgb(211, 6, 6);

app-add-to-cart-nav {
  z-index: 2;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}

.cart_container {
  .cart_content_container {
    position: relative;
    padding: 20px 0 100px;

    .checkout_container {
      position: fixed;
      height: 66px;
      bottom: 0;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 130px;
      background-color: #fff;

      .detail {
        border-top: 1px solid #e3e3e3;
        display: grid;
        grid-template-columns: 1fr auto;
        font-size: 12px;
        padding: 15px;

        .selectItems {
          display: flex;
          align-items: center;

          p {
            margin-left: 5px;
          }
        }

        .subtotal {
          align-items: center;
          text-align: end;

          h5 {
            font-size: 18px;
            color: rgb(255, 92, 0);
          }
        }
      }

      .checkout_btn {
        display: grid;
        justify-content: center;
        align-items: center;
        background-color: rgb(255, 92, 0);
        border-top: 1px solid rgb(255, 92, 0);
        color: #fff;

        .aa {
          p {
            text-align: center;
            font-size: 12px;
          }
        }
      }
    }

    .emptyCart_container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100px;
    }

    .cart_items_container {
      display: grid;
      grid-gap: 20px;
      padding: 100px 20px 20px;

      .cart_item_container {
        width: 100%;
        display: grid;
        padding: 10px;
        grid-template-columns: repeat(1fr 1fr 1fr);
        box-shadow: 0 2px 2px 0 RGB(43 80 237 / 20%);
        border-radius: 8px;
        border: 2px solid #fafafa;
        transition: all .3s ease;

        .about-items {
          display: grid;
          grid-template-columns: 1fr auto;
          padding-bottom: 10px;
          border-bottom: 2px solid $shadow;

          .edit {
            display: flex;
            justify-content: flex-end;
            color: red;
            cursor: pointer;
            font-size: 12px;
          }
        }

        .product {
          display: grid;
          grid-template-columns: 1fr 122px;
          grid-gap: 15px;

          .product-image {
            overflow: hidden;

            img {
              min-height: 138px;
              width: 100%;
              border-radius: 8px 8px 0 0;
              max-height: 200px;
              object-fit: cover;
              transition: transform 0.5s ease;
              transform: scale(1.1);
            }
          }

          .item-details {
            display: grid;
            grid-template-rows: 1fr auto auto;
            align-items: center;
            grid-gap: 10px;
            position: relative;

            .stock {
              position: absolute;
              font-size: 9px;
              bottom: 65px;
            }
            .price {
              font-size: 12px;

              p {
                display: inline-block;
                color: rgb(255, 92, 0);
              }
            }


            .changer {
              display: grid;
              grid-template-columns: repeat(3, 40px);
              place-items: center;
              border: 1px solid #e3e3e3;
              width: fit-content;
              padding: 0;
              box-shadow: 0 2px 2px 0 RGB(43 80 237 / 20%);
              font-size: 14px;
              margin-bottom: 2px;
              border-radius: 8px;

              div {
                width: 100%;
                text-align: center;
                padding: 5px 0;
              }

              .increment,
              .decrement {
                border: 2px solid #fff;
                cursor: pointer;

                &:hover {
                  border: 2px solid rgb(255, 92, 0);
                }
              }

              .increment {
                border-radius: 0 8px 8px 0;
                cursor: pointer;
              }
  
              .decrement {
                border-radius: 8px 0 0 8px;
                cursor: pointer;
              }
            }
          }
        }
      }

      .notification-container {
        z-index: 4;
        background: $background-notification;
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        .msg {
          margin-bottom: 2px;
          border-radius: 10px 10px 0px 0px;
          min-width: 300px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: $colorContras;
        }

        .notification {
          display: grid;
          grid-template-columns: 1fr 1fr;
          min-width: 300px;
          min-height: 50px;
          background: white;
          overflow: hidden;
          filter: blur(0.3px);
          box-shadow: 3px 3px 3px $background-notification;
          border-radius: 0px 0px 10px 10px;

          .cancel,
          .delete {
            display: grid;
            align-items: center;
            justify-content: center;
            cursor: pointer;
          }

          .delete {
            color: red;
            border-right: 1px solid $background-notification;
          }

          .cancel:hover,
          .delete:hover {
            background: $background-notification;
            border: none;
            height: 100%;
          }
        }
      }

      .max-item {
        z-index: 4;
        background: rgba(0, 0, 0, 0.1);
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        .max {
          display: flex;
          border-radius: 10px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 300px;
          min-height: 100px;
          background-color: $colorContras;
          p {
            color: red;
          }
          .ok {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
            width: 100px;
            height: 30px;
            box-shadow: 1px 1px 3px $background-notification;
            border-radius: 10px;
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 700px) {
  .cart_container {
    display: grid;
    grid-template-columns: 1fr;

    .cart_content_container {
      max-width: 1400px;
      margin: 0 auto;

      .cart_items_container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        .cart_item_container {
          background: #fff;
        }
      }
    }
  }
}
