<div class="cart_container">
  <app-nav [showlowernav]="false"></app-nav>

  <div class="cart_content_container">
    <div class="backBtn_container">
      <div class="backBtn" (click)="goBack()">
        <i class="far fa-arrow-left"></i>
      </div>
      <div class=""><h5>Your cart</h5></div>
    </div>
    <div class="header-label">
      <h2>Your cart</h2>
    </div>

    <div class="cart_items_container">
      <div
        class="cart_item_container"
        *ngFor="let cart of cartArray; trackBy: trackByFn"
        [@fadeOutLeftOnLeave]
      >
        <div class="about-items">
          <input
            type="checkbox"
            name="item"
            (click)="selectProductToCheckout(cart.id)"
            checked="{{ cart.isCheck }}"
          />
          <p class="edit" (click)="removeCartItem(cart.id)">Remove</p>
        </div>
        <div class="product">
          <div class="product-image">
            <img [src]="cart.Product.product_image" alt="item" />
          </div>
          <div class="item-details">
            <div class="product-name">
              {{ cart.Product.product_name }}
            </div>
            <p class="stock">Stocks: {{ cart.Product.product_quantity }}</p>
            <div class="price">
              Price:
              <p>P{{ cart.Product.product_price }}</p>
            </div>
            <div class="changer">
              <div
                class="decrement"
                (click)="incDecCartItemQty(2, cart.id, cart.quantity)"
              >
                -
              </div>
              <div class="">{{ cart.quantity }}</div>
              <div
                class="increment"
                (click)="
                  (cart.quantity);
                  incDecCartItemQty(
                    1,
                    cart.id,
                    cart.quantity,
                    cart.Product.product_quantity
                  )
                "
              >
                +
              </div>
            </div>
          </div>
        </div>

        <!-- notification -->
        <div class="notification-container" *ngIf="false">
          <div class="msg">Do you want to remove this item?</div>
          <div class="notification">
            <span class="cancel" (click)="hideNotification(cart.id)"
              >Cancel</span
            >
            <span class="delete">Remove</span>
          </div>
        </div>

        <div *ngIf="isMaxQty" class="max-item">
          <div class="max">
            <p>Product available quantity reached!</p>
            <div class="ok" (click)="showMaxQtyReachedModal()">OK</div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="isCartEmpty" class="emptyCart_container">
      <img src="../../../../../assets/svgs/emptycart.svg" alt="" />
    </div>

    <div *ngIf="false" class="emptyCart_container">
      <h5>Loading...</h5>
    </div>

    <div class="checkout_container">
      <div class="detail">
        <div class="selectItems">
          <input
            type="checkbox"
            name="all-product"
            id="all-product"
            (click)="selectAllCartItems()"
            checked="{{ allSelectedCheck }}"
          />
          <p>All Selected({{ selectedCartItems.length }})</p>
        </div>
        <div class="subtotal">
          <p>Subtotal</p>
          <h5>P{{ subTotal }}</h5>
        </div>
      </div>
      <div class="checkout_btn" (click)="checkoutOrder()">
        <div class="aa">
          <h4>Checkout</h4>
          <p>( Qty: {{ AllItemQuantity }} )</p>
        </div>
      </div>
    </div>
  </div>
</div>
