<!-- header -->
<app-add-to-cart-nav currentRouter="addToCart"></app-add-to-cart-nav>
<!-- body -->
<div class="cart_container">
  <div class="cart_content_container">
    <div class="cart_items_container">
      <div class="cart_item_container" [routerLink]="['/product/', product.Product.id]" *ngFor="let product of productArray">
        <div class="about-items">
          <input
            type="checkbox"
            name="item"
            (click)="check(product.id)"
            checked="{{ product.isCheck }}"
          />
          <p class="edit" (click)="removeCartItem(product.id)">Remove</p>
        </div>
        <div class="product">
          <div class="product-image">
            <img [src]="product.Product.product_image" alt="item" />
          </div>
          <div class="item-details">
            <div class="product-name">
              {{ product.Product.product_name }}
            </div>
            <p class="stock">Stocks: {{ product.Product.product_quantity }}</p>
            <div class="price">
              Price:
              <p>P{{ product.Product.product_price }}</p>
            </div>
            <div class="changer">
              <div class="decrement" (click)="incDecCartItemQty(2, product.id)">
                -
              </div>
              <div class="">{{ product.quantity }}</div>
              <div class="increment" (click)="incDecCartItemQty(1, product.id)">
                +
              </div>
            </div>
          </div>
        </div>

        <!-- notification -->
        <div class="notification-container" *ngIf="product.notify">
          <div class="msg">Do you want to remove this item?</div>
          <div class="notification">
            <span class="cancel" (click)="hideNotification(product.id)"
              >Cancel</span
            >
            <span class="delete" (click)="delete(product.id)">Remove</span>
          </div>
        </div>

        <div *ngIf="isMaxQty" class="max-item">
          <div class="max">
            <p>Maximum Product Available</p>
            <div class="ok" (click)="ok()">OK</div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="isCartEmpty" class="emptyCart_container">
      <h5>Cart is empty :(</h5>
    </div>

    <div *ngIf="productArray.length == 0" class="emptyCart_container">
      <h5>Loading...</h5>
    </div>

    <div class="checkout_container">
      <div class="detail">
        <div class="selectItems">
          <input
            type="checkbox"
            name="all-product"
            id="all-product"
            (click)="clickAll()"
          />
          <p>All Selected({{ all }})</p>
        </div>
        <div class="subtotal">
          <p>Subtotal</p>
          <h5>P{{ totalPrice }}</h5>
        </div>
      </div>
      <div class="checkout_btn" routerLink="/checkout">
        <div class="aa">
          <h4>Checkout</h4>
          <p>( Qty: {{ AllItemQuantity }} )</p>
        </div>
      </div>
    </div>
  </div>
</div>
