$shadow: rgba(0, 0, 0, 0.3);

.checkout_container {
  position: relative;

  app-nav {
    display: none;
  }

  .bg-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgb(0, 0, 0, 0.3);
    z-index: 200;
  }

  .shipping_option_modal {
    position: fixed;
    top: 140px;
    width: 90%;
    background: #fff;
    height: fit-content;
    z-index: 201;
    padding: 20px;
    left: 50%;
    transform: translate(-50%);
    border-radius: 8px;

    .shipModal-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      h5 {
        i {
          margin-right: 5px;
          cursor: pointer;
        }
      }

      i {
        cursor: pointer;
      }
    }

    .shipModal-body {
      display: grid;
      grid-gap: 10px;

      .box {
        padding: 10px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 2px 2px 0 RGB(43 80 237 / 20%);
        border: 2px solid #e3e3e3;
        border-radius: 8px;
        transition: all 0.3s ease;
        cursor: pointer;

        p {
          font-size: 12px;
        }
      }

      .selectedOption {
        background-color: rgb(255, 92, 0);
        color: #fff;
      }
    }
  }

  .checkout_question_order {
    position: fixed;
    top: 140px;
    width: 90%;
    background: #fff;
    height: fit-content;
    z-index: 201;
    padding: 20px;
    left: 50%;
    transform: translate(-50%);
    border-radius: 8px;

    .chceckout_body {
      .qq {
        margin-top: 10px;
        font-size: 14px;
        text-align: center;
      }

      .options {
        margin-top: 30px;
        display: grid;
        grid-gap: 10px;

        .aa {
          border: 1px solid #e3e3e3;
          box-shadow: 0 2px 2px 0 RGB(43 80 237 / 20%);
          padding: 10px;
          border-radius: 8px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 14px;
          transition: all 0.3s ease;
          cursor: pointer;
        }

        .aa:nth-child(1) {
          background-color: rgb(255, 92, 0);
          color: #fff;
        }
      }
    }
  }

  .checkout-wrapper {
    max-width: 1400px;
    margin: 0 auto;

    .placedItems-desk {
      display: none;
    }

    .checkout_wrap1 {
      position: relative;
      padding-bottom: 80px;

      .top-header {
        padding: 7px 10px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #e3e3e3;
        position: fixed;
        width: 100%;
        z-index: 20;
        background: #fff;

        .backBtn {
          margin-right: 10px;

          i {
            padding: 10px;
          }
        }
      }

      .header__scrollShadow {
        box-shadow: 0 4px 4px 0 RGB(43 80 237 / 20%);
      }

      .placeOrderBtn_container {
        position: fixed;
        bottom: 0;
        width: 100%;
        background: #fff;
        display: grid;
        grid-template-columns: 1fr 130px;
        z-index: 20;

        .totalPay_container {
          border-top: 1px solid #e3e3e3;
          text-align: end;
          align-items: center;
          padding: 14px 15px;

          p {
            font-size: 12px;
          }

          h5 {
            color: rgb(255, 92, 0);
            font-size: 18px;
          }
        }

        .placeOrderbtn {
          background-color: rgb(255, 92, 0);
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px 0;
          font-size: 15px;
          font-weight: 800;
        }
      }

      .main_content_container {
        padding-top: 53px;

        .placeBtn_container {
          display: none;
        }

        .delivery_address_container {
          background: #fafafa;
          padding-bottom: 4px;

          .content {
            display: grid;
            grid-template-columns: 20px 1fr 20px;
            grid-gap: 10px;
            padding: 20px 10px 20px 20px;

            .title {
              margin-bottom: 10px;
              font-size: 15px;
            }

            p {
              font-size: 12px;
            }

            .fa-chevron-right {
              align-self: center;
            }
          }

          .borderStripe_container {
            width: 100%;
            height: 4px;
            background-image: repeating-linear-gradient(
              90deg,
              #f29b91 0px,
              #f09290 30px,
              transparent 30px,
              transparent 50px,
              #83b3db 10px,
              #84adcb 80px,
              transparent 80px,
              transparent 100px
            );
            padding: 0px;
          }
        }

        .placedItems_container {
          .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 15px;
            padding: 5px 10px 5px 20px;
            border-bottom: 1px solid #e3e3e3;

            .title {
              .fa-store {
                margin-right: 8px;
              }
            }
          }

          .content {
            .placedProduct_container {
              display: grid;
              grid-template-columns: 60px 1fr;
              padding: 10px 20px;
              grid-gap: 15px;

              img {
                width: 100%;
              }

              .details {
                position: relative;
                display: grid;

                .product_name_wrapper {
                  padding-top: 5px;
                  font-size: 15px;
                }

                .price_quantity_wrapper {
                  display: flex;
                  justify-content: space-between;
                  align-items: flex-end;
                  font-size: 12px;

                  .price1 {
                    color: rgb(255, 92, 0);
                    font-size: 15px;
                  }
                }
              }
            }
          }
        }

        .shippingOption_container {
          background-color: rgb(255, 92, 0, 0.1);
          border-bottom: 1px solid rgb(255, 92, 0, 0.3);
          border-top: 1px solid rgb(255, 92, 0, 0.3);

          .shippingOption_title {
            padding: 15px 20px;
            border-bottom: 1px solid rgb(255, 92, 0, 0.1);
            color: rgb(255, 92, 0);
          }

          .selectShippingOption_container {
            padding: 10px 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;

            .shippingOptions_details {
              .title {
                margin-bottom: 5px;
              }

              p {
                font-size: 12px;
              }
            }

            .shippingOption_price {
              font-size: 14px;

              i {
                margin-left: 5px;
              }
            }
          }
        }

        .orderTotal_container {
          display: flex;
          justify-content: space-between;
          padding: 15px 20px;
          border-bottom: 10px solid #e3e3e369;
          font-size: 15px;

          .orderTotal {
            color: rgb(255, 92, 0);
          }
        }

        .payment_container {
          .paymentOption_container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 20px;
            font-size: 15px;
            border-bottom: 10px solid #e3e3e369;

            .fa-usd-circle {
              color: rgb(255, 92, 0);
              margin-right: 5px;
            }
          }

          .totals_container {
            padding: 15px 20px;
            display: grid;
            grid-gap: 10px;
            font-size: 12px;

            .totals {
              display: flex;
              justify-content: space-between;
              align-items: center;
            }

            .total {
              p,
              .label {
                font-size: 15px;
                font-weight: 400;
              }

              p {
                color: rgb(255, 92, 0);
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 650px) {
  .checkout_container {
    app-nav {
      display: block;
    }

    .shipping_option_modal {
      width: 400px;

      .shipModal-body {
        .selectedOption {
          background-color: #8d00ca;
          color: #fff;
        }
      }
    }

    .checkout_question_order {
      width: 400px;

      .chceckout_body {
        .options {
          .aa:nth-child(1) {
            background-color: #8d00ca;
            color: #fff;
          }
        }
      }
    }

    .checkout-wrapper {
      padding: 20px;
      padding-top: 80px;
      display: grid;
      grid-gap: 20px;
      grid-template-columns: 1fr 1fr;

      .placedItems-desk {
        display: block;

        box-shadow: 0 2px 2px 0 RGB(43 80 237 / 20%);
        border-radius: 8px;
        margin-top: 55px;
        height: fit-content;

        .items-desk {
          .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 15px;
            padding: 20px;
            border-bottom: 1px dashed #e3e3e3;
            background-color: #fff;
            margin-bottom: 10px;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;

            .title {
              .fa-store {
                margin-right: 8px;
              }
            }
          }

          .content1 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 15px;
            padding: 10px 20px 20px 20px;

            .placedProduct_container {
              border: 2px solid #fafafa;
              background: #fff;
              display: grid;
              grid-template-columns: 100px 1fr;
              padding: 20px;
              grid-gap: 15px;
              border-radius: 8px;
              min-height: 140px;
              box-shadow: 0 4px 4px 0 RGB(43 80 237 / 20%);
              cursor: pointer;
              transition: all 0.3s ease;

              &:hover {
                border: 2px solid #8d00ca;
              }

              img {
                width: 100%;
              }

              .details {
                position: relative;
                display: grid;

                .product_name_wrapper {
                  padding-top: 5px;
                  font-size: 15px;

                  .label {
                    font-size: 12px;
                  }

                  h6 {
                    font-size: 16px;
                    color: #8d00ca;
                  }
                }

                .price_quantity_wrapper {
                  display: flex;
                  justify-content: space-between;
                  align-items: flex-end;
                  font-size: 12px;

                  .price1 {
                    .price_label {
                      font-size: 12px;
                    }

                    h6,
                    h5 {
                      font-size: 16px;
                      color: #8d00ca;
                    }
                  }

                  .qty {
                    font-size: 18px;
                  }
                }
              }
            }
          }
        }
      }

      .checkout_wrap1 {
        position: relative;
        width: 100%;

        .top-header {
          display: none;
        }

        .placedItems_container {
          display: none;
        }

        .main_content_container {
          .delivery_address_container,
          .placedItems_container,
          .orderTotal_container,
          .payment_container {
            background-color: #fff;
          }

          .delivery_address_container {
            box-shadow: 0 2px 2px 0 RGB(43 80 237 / 20%);
            border-bottom: 1px solid #e3e3e3;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
          }

          .orderTotal_container {
            .orderTotal {
              color: #8d00ca;
            }
          }

          .payment_container {
            .paymentOption_container {
              cursor: pointer;

              .title {
                i {
                  color: #8d00ca;
                }
              }
            }

            .totals_container {
              .total {
                p {
                  color: #8d00ca;
                }
              }
            }
          }

          .placeBtn_container {
            margin-top: 10px;
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 130px;
            z-index: 20;

            .totalPay_container {
              border-top: 1px solid #e3e3e3;
              text-align: end;
              align-items: center;
              padding: 14px 15px;
              box-shadow: 0 2px 2px 0 RGB(43 80 237 / 20%);
              border-bottom: 1px solid #e3e3e3;
              border-bottom-left-radius: 8px;
              background: #fff;

              p {
                font-size: 12px;
              }

              h5 {
                color: #8d00ca;
                font-size: 18px;
              }
            }

            .placeOrderbtn {
              background-color: #8d00ca;
              color: #fff;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 12px 0;
              font-size: 15px;
              font-weight: 800;
              box-shadow: 0 2px 2px 0 RGB(43 80 237 / 20%);
              border-bottom: 4px solid #8d00ca;
              border-bottom-right-radius: 8px;
              cursor: pointer;
            }
          }
        }

        .placeOrderBtn_container {
          display: none;
        }
      }
    }
  }
}
