<div class="checkout_container">
  <app-nav></app-nav>
  <div class="bg-overlay" *ngIf="bgOverlayOpen"></div>

  <div class="shipping_option_modal" *ngIf="isShipModalOpen">
    <div class="shipModal-header">
      <h5><i class="fal fa-truck"></i>Shipping option</h5>
      <i class="fal fa-times" (click)="openCloseShipModal()"></i>
    </div>
    <div class="shipModal-body">
      <div
        class="box"
        [ngClass]="{ selectedOption: shippingOption.name == 'Entrego' }"
        (click)="changeShipOption(1); openCloseShipModal()"
      >
        <p>Entrego: P115</p>
        <i
          *ngIf="shippingOption.name == 'Entrego'"
          class="fal fa-check-circle"
        ></i>
      </div>
      <div
        class="box"
        [ngClass]="{ selectedOption: shippingOption.name == 'J&T Express' }"
        (click)="changeShipOption(2); openCloseShipModal()"
      >
        <p>J&T Express: P120</p>
        <i
          *ngIf="shippingOption.name == 'J&T Express'"
          class="fal fa-check-circle"
        ></i>
      </div>
    </div>
  </div>

  <div class="shipping_option_modal" *ngIf="isPayModalOpen">
    <div class="shipModal-header">
      <h5><i class="fal fa-credit-card"></i>Payment option</h5>
      <i class="fal fa-times" (click)="openClosePayModal()"></i>
    </div>
    <div class="shipModal-body">
      <div
        class="box"
        [ngClass]="{ selectedOption: payOption.name == 'Cash on Delivery' }"
        (click)="changePayOption(1); openClosePayModal()"
      >
        <p>Cash on Delivery</p>
        <i
          *ngIf="payOption.name == 'Cash on Delivery'"
          class="fal fa-check-circle"
        ></i>
      </div>
      <div
        class="box"
        [ngClass]="{ selectedOption: payOption.name == 'Credit Card' }"
        (click)="changePayOption(2); openClosePayModal()"
      >
        <p>Credit Card</p>
        <i
          *ngIf="payOption.name == 'Credit Card'"
          class="fal fa-check-circle"
        ></i>
      </div>
    </div>
  </div>

  <div class="checkout-wrapper">
    <div class="placedItems-desk">
      <div class="items-desk">
        <div class="header">
          <div class="title">
            <i class="fal fa-store"></i>
            Placed items
          </div>
          <button class="seallBtn" mat-icon-button>
            <i class="fal fa-chevron-right"></i>
          </button>
        </div>

        <div class="content" *ngFor="let item of itemsArr">
          <div class="placedProduct_container" matRipple>
            <img [src]="item.productImg" alt="" />
            <div class="details">
              <div class="product_name_wrapper">
                <div class="label">Product name:</div>
                <h5>{{ item.produtName }}</h5>
              </div>
              <div class="price_quantity_wrapper">
                <div class="price1">
                  <div class="price_label">Price:</div>
                  <h5>P{{ item.price }}</h5>
                </div>
                <div class="price1">
                  <div class="price_label">Quantity:</div>
                  <h6>x{{ item.quantity }}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="checkout_wrap1">
      <div class="top-header" [ngClass]="{ header__scrollShadow: onScroll }">
        <button class="seallBtn" (click)="goBack()" mat-icon-button>
          <i class="fal fa-arrow-left"></i>
        </button>
        <div class="title">Checkout</div>
      </div>
  
      <div class="placeOrderBtn_container">
        <div class="totalPay_container">
          <p>Total Payment</p>
          <h5 *ngIf="orderDataArr">
            P{{ orderDataArr.subtotal + shippingOption.price }}
          </h5>
        </div>
        <div class="placeOrderbtn">Place Order</div>
      </div>
  
      <div class="main_content_container">
        <div class="delivery_address_container" matRipple>
          <div class="content">
            <i class="fal fa-street-view"></i>
            <div class="details">
              <div class="title">Delivery Address</div>
              <p class="name">{{ userData.name }}</p>
              <p class="address">
                {{
                  userData.address == null
                    ? "Please set your address"
                    : userData.address
                }}
              </p>
            </div>
            <i class="fal fa-chevron-right"></i>
          </div>
          <div class="borderStripe_container"></div>
        </div>
  
        <div class="placedItems_container">
          <div class="header">
            <div class="title">
              <i class="fal fa-store"></i>
              Placed items
            </div>
            <button class="seallBtn" mat-icon-button>
              <i class="fal fa-chevron-right"></i>
            </button>
          </div>
  
          <div class="content" *ngFor="let item of itemsArr">
            <div class="placedProduct_container" matRipple>
              <img [src]="item.productImg" alt="" />
              <div class="details">
                <div class="product_name_wrapper">{{ item.produtName }}</div>
                <div class="price_quantity_wrapper">
                  <p class="price1">P{{ item.price }}</p>
                  <p>x{{ item.quantity }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="shippingOption_container">
          <div class="shippingOption_title">Shipping Option</div>
          <div
            class="selectShippingOption_container"
            matRipple
            [matRippleColor]="rippleColor"
            (click)="openCloseShipModal()"
          >
            <div class="shippingOptions_details">
              <div class="title">{{ shippingOption.name }}</div>
              <p>
                Recieved by {{ expectedDeliveredDate.start }} -
                {{ expectedDeliveredDate.end }}
              </p>
            </div>
            <div class="shippingOption_price">
              P{{ shippingOption.price }}
              <i class="fal fa-chevron-right"></i>
            </div>
          </div>
        </div>
  
        <div class="orderTotal_container">
          <div class="label">Order Total(4 items):</div>
          <div class="orderTotal" *ngIf="orderDataArr">
            {{ orderDataArr.subtotal }}
          </div>
        </div>
  
        <div class="payment_container">
          <div
            class="paymentOption_container"
            matRipple
            (click)="openClosePayModal()"
          >
            <div class="title">
              <i class="fad fa-usd-circle"></i>
              Payment Option
            </div>
            <div class="paymentOption_changer_btn">
              <div class="btn_container">
                {{ payOption.name }}
                <i class="fal fa-chevron-right"></i>
              </div>
            </div>
          </div>
  
          <div class="totals_container">
            <div class="totals">
              <div class="label">Merchandise Subtotal</div>
              <p *ngIf="orderDataArr">{{ orderDataArr.subtotal }}</p>
            </div>
            <div class="totals">
              <div class="label">Shipping Subtotal</div>
              <p>P{{ shippingOption.price }}</p>
            </div>
            <div class="totals total">
              <div class="label">Total Payment</div>
              <p *ngIf="orderDataArr">
                P{{ orderDataArr.subtotal + shippingOption.price }}
              </p>
            </div>
          </div>
        </div>

        <div class="placeBtn_container">
          <div class="totalPay_container">
            <p>Total Payment</p>
            <h5 *ngIf="orderDataArr">
              P{{ orderDataArr.subtotal + shippingOption.price }}
            </h5>
          </div>
          <div class="placeOrderbtn">Place Order</div>
        </div>
      </div>
    </div>
  </div>
  
</div>


