.products_container {
  .products_wrapper {
    min-height: 100vh;
    padding: 20px 20px;
    padding-top: 0;
    position: relative;

    .addBtn {
      position: fixed;
      bottom: 40px;
      right: 20px;
      z-index: 19;
    }

    .addproduct_modal_container {
      position: fixed;
      left: 0;
      width: 100%;
      height: 100%;
      min-height: fit-content;
      z-index: 101;
      left: 50%;
      transform: translate(-50%);
      overflow: auto;
    }

    

    header {
      background: #fff;
      width: 100%;
      padding: 100px 20px 20px;

      h2 {
        color: #310f74;
      }

      .interact_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
          height: fit-content;
          display: none;
        }
      }
    }

    .products_content_container {
      width: 100%;

      .mat-table {
        width: 100%;
      }

      .mat-elevation-z8 {
        box-shadow: 0 14px 30px 0 RGB(43 80 237 / 20%);
        overflow: auto;
      }

      table {
        width: 100%;
      }

      .mat-form-field {
        font-size: 14px;
        width: 100%;
      }

      td,
      th {
        width: 25%;

        .productImage {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .products_container {
    .products_wrapper {
      padding: 20px 20px;
      padding-top: 0;

      .addBtn {
        display: none;
      }

      .addproduct_modal_container {
        
      }
  
      header {
        background: #fff;
        width: 100%;
        padding: 100px 20px 20px;
  
        h2 {
          color: #310f74;
        }
  
        .interact_wrapper {
          
          button {
            display: block;
          }
        }
      }
  
      .products_content_container {
        width: 100%;
  
        .mat-table {
          width: 100%;
        }
  
        .mat-elevation-z8 {
          box-shadow: 0 14px 30px 0 RGB(43 80 237 / 20%);
          overflow: auto;
        }
  
        table {
          width: 100%;
        }
  
        .mat-form-field {
          font-size: 14px;
          width: 100%;
        }
  
        td,
        th {
          width: 25%;
  
          .productImage {
            width: 50px;
            height: 50px;
          }
        }
      }
    }
  }
}
