<div class="admin_dashboard_container">
  <div class="dash_wrapper">
    <div class="dash-header">
      <div class=""></div>
      <div class="dash-header_option_container">
        <div class="interactions_container">
          <div class="inter-box"><i class="fal fa-bell"></i></div>
          <div class="inter-box"><i class="fal fa-comments-alt"></i></div>
        </div>
        <div class="curentUser_image_container">
          <img src="../../../../../assets/imgs/defaultUserImage.png" alt="" />
          <div class="name">Chan</div>
        </div>
      </div>
    </div>

    <h2>Dashboard</h2>
    <div class="btnOverview_wrapper">
      <div class="btnOver_container">
        <div class="top-content">
          <img src="../../../../../assets/svgs/salesSvg.svg" alt="" />
          <div class="stats">
            <div class="numeric">102,341</div>
            <div class="statlabel">Total Sales</div>
          </div>
        </div>
        <div class="bottom-content">
          <canvas
            baseChart
            class="chartjs"
            height="40vh"
            width="80vw"
            [datasets]="dashBtnSetting.lineChartData"
            [labels]="dashBtnSetting.lineChartLabels"
            [options]="dashBtnSetting.lineChartOptions"
            [colors]="dashBtnSetting.lineChartColors"
            [legend]="dashBtnSetting.lineChartLegend"
            [chartType]="lineChartType"
          >
          </canvas>
        </div>
      </div>
      <div class="btnOver_container">
        <div class="top-content">
          <img src="../../../../../assets/svgs/creditSvg.svg" alt="" />
          <div class="stats">
            <div class="numeric">1501</div>
            <div class="statlabel">Total Orders</div>
          </div>
        </div>
      </div>
      <div class="btnOver_container">
        <div class="top-content">
          <img src="../../../../../assets/svgs/usersSvg.svg" alt="" />
          <div class="stats">
            <div class="numeric">881</div>
            <div class="statlabel">Total Users</div>
          </div>
        </div>
      </div>
      <div class="btnOver_container">
        <div class="top-content">
          <img src="../../../../../assets/svgs/storeSvg.svg" alt="" />
          <div class="stats">
            <div class="numeric">121</div>
            <div class="statlabel">Total Products</div>
          </div>
        </div>
      </div>
    </div>

    <div class="data-grid-wrapper">
      <div class="top-grid">
        <div class="data-top-container">
          <div class="header">Summary</div>
          <div class="chart-container">
            <div class="charts-btns">
              <div
                class="btn"
                [ngClass]="currentChart == 'products' ? 'selectedChartBtn' : ''"
                (click)="changeChartData('products')"
              >
                <div class="sum">
                  <h4>168</h4>
                  <p>Products</p>
                </div>
              </div>
              <div
                class="btn"
                [ngClass]="currentChart == 'sales' ? 'selectedChartBtn' : ''"
                (click)="changeChartData('sales')"
              >
                <div class="sum">
                  <h4>168</h4>
                  <p>Sales</p>
                </div>
              </div>
              <div
                class="btn"
                [ngClass]="currentChart == 'orders' ? 'selectedChartBtn' : ''"
                (click)="changeChartData('orders')"
              >
                <div class="sum">
                  <h4>168</h4>
                  <p>Orders</p>
                </div>
              </div>
            </div>
            <div class="chart-wrapper">
              <canvas
                baseChart
                class="chartjs"
                [datasets]="dashSetting.lineChartData"
                [labels]="dashSetting.lineChartLabels"
                [options]="dashSetting.lineChartOptions"
                [colors]="dashSetting.lineChartColors"
                [legend]="dashSetting.lineChartLegend"
                [chartType]="lineChartType"
              >
              </canvas>
            </div>
          </div>
        </div>
        <div class="data-top-container">
          <div class="header">Top Selling Products</div>
          <div class="top-content">
            <div class="product-container" matRipple>
              <div class="img-container">
                <img
                  src="https://avatars.githubusercontent.com/u/59472122?v=4"
                  alt=""
                />
              </div>
              <div class="detail-container">
                <div class="product_name_container">Baso</div>
                <div class="product_desc_container">
                  Lorem ipsum dolor sit amet
                </div>
              </div>
              <div class="product-sales-container">
                <div class="num">P169</div>
                <p>Sales</p>
              </div>
            </div>
            <div class="product-container" matRipple>
              <div class="img-container">
                <img
                  src="https://avatars.githubusercontent.com/u/59472122?v=4"
                  alt=""
                />
              </div>
              <div class="detail-container">
                <div class="product_name_container">Baso</div>
                <div class="product_desc_container">
                  Lorem ipsum dolor sit amet
                </div>
              </div>
              <div class="product-sales-container">
                <div class="num">P169</div>
                <p>Sales</p>
              </div>
            </div>
            <div class="product-container" matRipple>
              <div class="img-container">
                <img
                  src="https://avatars.githubusercontent.com/u/59472122?v=4"
                  alt=""
                />
              </div>
              <div class="detail-container">
                <div class="product_name_container">Baso</div>
                <div class="product_desc_container">
                  Lorem ipsum dolor sit amet
                </div>
              </div>
              <div class="product-sales-container">
                <div class="num">P169</div>
                <p>Sales</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom-grid">
        <div class="data-bottom-container">
          <div class="header">Order Activity</div>
          <div class="top-content">
            <div class="product-container" matRipple>
              <div class="img-container">
                <img
                  src="https://avatars.githubusercontent.com/u/59472122?v=4"
                  alt=""
                />
              </div>
              <div class="detail-container">
                <div class="product_name_container">Baso</div>
                <div class="product_desc_container">
                  Lorem ipsum dolor sit amet
                </div>
              </div>
              <div class="product-sales-container">
                <div class="num">P169</div>
                <p>Sales</p>
              </div>
            </div>
            <div class="product-container" matRipple>
              <div class="img-container">
                <img
                  src="https://avatars.githubusercontent.com/u/59472122?v=4"
                  alt=""
                />
              </div>
              <div class="detail-container">
                <div class="product_name_container">Baso</div>
                <div class="product_desc_container">
                  Lorem ipsum dolor sit amet
                </div>
              </div>
              <div class="product-sales-container">
                <div class="num">P169</div>
                <p>Sales</p>
              </div>
            </div>
            <div class="product-container" matRipple>
              <div class="img-container">
                <img
                  src="https://avatars.githubusercontent.com/u/59472122?v=4"
                  alt=""
                />
              </div>
              <div class="detail-container">
                <div class="product_name_container">Baso</div>
                <div class="product_desc_container">
                  Lorem ipsum dolor sit amet
                </div>
              </div>
              <div class="product-sales-container">
                <div class="num">P169</div>
                <p>Sales</p>
              </div>
            </div>
          </div>
        </div>
        <div class="data-bottom-container">
          <div class="header">Recent Products</div>
          <div class="top-content">
            <div class="product-container" matRipple>
              <div class="img-container">
                <img
                  src="https://avatars.githubusercontent.com/u/59472122?v=4"
                  alt=""
                />
              </div>
              <div class="detail-container">
                <div class="product_name_container">Baso</div>
                <div class="product_desc_container">
                  Lorem ipsum dolor sit amet
                </div>
              </div>
              <div class="product-sales-container">
                <div class="num">P169</div>
                <p>Sales</p>
              </div>
            </div>
            <div class="product-container" matRipple>
              <div class="img-container">
                <img
                  src="https://avatars.githubusercontent.com/u/59472122?v=4"
                  alt=""
                />
              </div>
              <div class="detail-container">
                <div class="product_name_container">Baso</div>
                <div class="product_desc_container">
                  Lorem ipsum dolor sit amet
                </div>
              </div>
              <div class="product-sales-container">
                <div class="num">P169</div>
                <p>Sales</p>
              </div>
            </div>
            <div class="product-container" matRipple>
              <div class="img-container">
                <img
                  src="https://avatars.githubusercontent.com/u/59472122?v=4"
                  alt=""
                />
              </div>
              <div class="detail-container">
                <div class="product_name_container">Baso</div>
                <div class="product_desc_container">
                  Lorem ipsum dolor sit amet
                </div>
              </div>
              <div class="product-sales-container">
                <div class="num">P169</div>
                <p>Sales</p>
              </div>
            </div>
          </div>
        </div>
        <div class="data-bottom-container">
          <div class="header">Recent Buyers</div>
          <div class="top-content">
            <div class="product-container" matRipple>
              <div class="img-container">
                <img
                  src="https://avatars.githubusercontent.com/u/59472122?v=4"
                  alt=""
                />
              </div>
              <div class="detail-container">
                <div class="product_name_container">Baso</div>
                <div class="product_desc_container">
                  Lorem ipsum dolor sit amet
                </div>
              </div>
              <div class="product-sales-container">
                <div class="num">P169</div>
                <p>Sales</p>
              </div>
            </div>
            <div class="product-container" matRipple>
              <div class="img-container">
                <img
                  src="https://avatars.githubusercontent.com/u/59472122?v=4"
                  alt=""
                />
              </div>
              <div class="detail-container">
                <div class="product_name_container">Baso</div>
                <div class="product_desc_container">
                  Lorem ipsum dolor sit amet
                </div>
              </div>
              <div class="product-sales-container">
                <div class="num">P169</div>
                <p>Sales</p>
              </div>
            </div>
            <div class="product-container" matRipple>
              <div class="img-container">
                <img
                  src="https://avatars.githubusercontent.com/u/59472122?v=4"
                  alt=""
                />
              </div>
              <div class="detail-container">
                <div class="product_name_container">Baso</div>
                <div class="product_desc_container">
                  Lorem ipsum dolor sit amet
                </div>
              </div>
              <div class="product-sales-container">
                <div class="num">P169</div>
                <p>Sales</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
