<div class="admin_dashboard_container">
  <div class="dash_wrapper">

    <div class="btnOverview_wrapper">
      <div class="btnOver_container">
        <img src="../../../../../assets/svgs/salesSvg.svg" alt="" />
        <div class="details_container">
          <div class="box"><h4>Sales</h4></div>
          <div class="box1">P 122389</div>
        </div>
      </div>
      <div class="btnOver_container">
        <img src="../../../../../assets/svgs/usersSvg.svg" alt="" />
        <div class="details_container">
          <div class="box"><h4>Customers</h4></div>
          <div class="box1">169</div>
        </div>
      </div>
      <div class="btnOver_container">
        <img src="../../../../../assets/svgs/storeSvg.svg" alt="" />
        <div class="details_container">
          <div class="box"><h4>Products</h4></div>
          <div class="box1">150,000</div>
        </div>
      </div>
      <div class="btnOver_container">
        <img src="../../../../../assets/svgs/creditSvg.svg" alt="" />
        <div class="details_container">
          <div class="box"><h4>Orders</h4></div>
          <div class="box1">1110</div>
        </div>
      </div>
    </div>
  </div>
</div>
