.admin_dashboard_container {
  overflow-y: scroll;
  width: 100%;

  .dash_wrapper {
    padding: 80px 20px 20px;
    width: 100%;

    h2 {
      color: #310f74;
      padding: 20px 0;
    }

    .btnOverview_wrapper {
      display: grid;
      grid-gap: 20px;
      width: 100%;

      .btnOver_container {
        box-shadow: 0 14px 30px 0 RGB(43 80 237 / 20%);
        padding: 20px;
        border-radius: 0;
        display: grid;
        
        align-items: center;
        color: #fff;
        transition: all 0.3s ease;
        background: #310f74;

        .top-content {
          display: grid;
          grid-gap: 30px;
          grid-template-columns: 70px 1fr;

          .stats {
            .numeric {
              font-size: 30px;
              font-weight: 800;
            }
          }
        }

        .bottom-content {
          height: 50px;
          position: relative;
          display: block;

          .chartjs {
  
          }

        }

        &:hover {
          border-color: #10236fbf;
        }
      }

      .btnOver_container:nth-child(1) {
        background: #FF5C00;
      }

      .btnOver_container:nth-child(2) {
        background: #8F83FF;
      }

      .btnOver_container:nth-child(3) {
        background: #31D9A4;
      }

      .btnOver_container:nth-child(4) {
        background: #FA5291;
      }
    }
  }
}


@media only screen and (min-width: 1400px) {
  .admin_dashboard_container {
    .dash_wrapper {
      .btnOverview_wrapper {
        grid-template-columns: repeat(4, 1fr);

        .btnOver_container {
          padding: 20px;
        }
      }
    }
  }
}
