<div class="product__container">
  <app-nav></app-nav>

  <div class="product_content__container">
    <div class="product__container">
      <div class="product_image__container">
        <div class="backBtn" (click)="goBack()">
          <i class="far fa-arrow-left"></i>
        </div>
        <img
          [src]="productArray.image"
          alt=""
          (load)="imgIsLoaded()"
          (error)="detectErroImg($event)"
          [ngClass]="isImgLoaded ? 'showSkel' : 'hideSkel'"
        />
        <div
          [ngClass]="isImgLoaded ? 'hideSkel' : 'showSkel'"
          style="width: 100%"
        >
          <ngx-skeleton-loader
            count="1"
            [theme]="{
              height: '100%',
              'min-height': '360px',
              width: '100%'
            }"
          ></ngx-skeleton-loader>
        </div>
      </div>
      <div class="product_interact">
        <div class="product_details__container">
          <div class="name">
            <div class="aaa">Product name:</div>
            <p [ngClass]="isImgLoaded ? 'showSkel' : 'hideSkel'">
              {{ productArray.title }}
            </p>
            <div
              [ngClass]="isImgLoaded ? 'hideSkel' : 'showSkel'"
              style="width: 100%"
            >
              <ngx-skeleton-loader
                count="1"
                [theme]="{
                  height: '100%',
                  'min-height': '20px',
                  width: '200px'
                }"
              ></ngx-skeleton-loader>
            </div>
          </div>
          <div class="description">
            <div class="aaa">Product Description</div>
            <p [ngClass]="isImgLoaded ? 'showSkel' : 'hideSkel'">
              {{ productArray.description }}
            </p>
            <div
              [ngClass]="isImgLoaded ? 'hideSkel' : 'showSkel'"
              style="width: 100%"
            >
              <ngx-skeleton-loader
                count="1"
                [theme]="{
                  height: '100%',
                  'min-height': '40px',
                  width: '100%'
                }"
              ></ngx-skeleton-loader>
            </div>
          </div>
          <div class="price_stock__container">
            <div class="container">₱{{ productArray.price }}</div>
            <div class="container">STOCKS: 12</div>
          </div>
        </div>
        <div class="product_options__container">
          <div class="orderQuantity_changer__container">
            <div class="title">QUANTITY</div>
            <div class="changer">
              <div class="decrement" (click)="itemQuantity(-1)">-</div>
              <div class="">{{ quantity }}</div>
              <div class="increment" (click)="itemQuantity(1)">+</div>
            </div>
          </div>

          <div class="addtocart_btn">Add to cart</div>
        </div>
      </div>

      <div class="product_owner__container">
        <div class="shop__container">
          <div class="shop_details">
            <img
              src="https://avatars.githubusercontent.com/u/59472122?v=4"
              alt=""
            />
            <div class="shop_name_address">
              <div class="name">Christian Shop</div>
              <div class="address">Tacloban City</div>

              <div class="boxtbns">
                <div class="btn chatstore">
                  <i class="fad fa-comment-alt-dots"></i> Chat now
                </div>
                <div class="btn viewshop">
                  <i class="fal fa-shopping-bag"></i>View shop
                </div>
              </div>
            </div>
          </div>
          <div class="viewshop_btn">View Shop</div>
        </div>

        <div class="shop_interactions_details-desk">
          <div class="inter">Ratinngs: <span>1.6K</span></div>
          <div class="inter">Response Rate: <span>18%</span></div>
          <div class="inter">Joined: <span>2 years ago</span></div>
          <div class="inter">Products: <span>99</span></div>
          <div class="inter">Response Time: <span>within minutes</span></div>
          <div class="inter">Follower: <span>999</span></div>
        </div>

        <div class="shop_interactions_details">
          <div class="container">
            <h4>69</h4>
            <p>Products</p>
          </div>
          <div class="container">
            <h4>2.5</h4>
            <p>Rating</p>
          </div>
          <div class="container">
            <h4>12%</h4>
            <p>Chat Response</p>
          </div>
        </div>
      </div>
    </div>

    <div class="similar_products__container">
      <h4>SIMILAR PRODUCTS</h4>

      <div class="container">
        <app-productpreview
          *ngFor="let product of simillarProductsArray"
          [productArray]="product"
        ></app-productpreview>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
