<div class="header-container" [ngClass]="{ header__scrollShadow: onScroll }">
  <div class="upper-content">
    <button mat-icon-button class="goBack" (click)="goBack()">
      <i class="fal fa-arrow-left"></i>
    </button>
    <div class="toMsg" routerLink="/messages">
      <i class="far fa-comment-alt">
        <p>99</p>
      </i>
    </div>
  </div>
  <div class="lower-content">
    <div
      [ngClass]="{ currentPage: currentRouter === 'addToCart' }"
      routerLink="/cart"
      class="navvv"
    >
      Pending Items
    </div>
    <div
      [ngClass]="{ currentPage: currentRouter === 'buyAgain' }"
      routerLink="/cart/buy-again"
      class="navvv"
    >
      Buy Again
    </div>
  </div>
</div>
