<div class='header-container'>
    <div class='upper-content'>
        <div class='go-back'>
            <a routerLink='/'><i class="fas fa-arrow-left"></i></a>
        </div>
        <div class='message-container'>
            <a routerLink='/messages' class='messages'><i class="far fa-comment-alt"></i></a>
        </div>
    </div>
    <div class='lower-content'>
        <ul>
            <li><a routerLink='/add-to-cart'>All ({{all}})</a></li>
            <li><a routerLink='/add-to-cart/buy-again'>Buy Again</a></li>
        </ul>
    </div>
</div>