@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;900&display=swap");

$textHeadColor: #735c5c;
$btnBgColor: #8d00ca;

.register-container {
  position: relative;
  padding-bottom: 62px;

  .main-container {
    padding: 120px 20px 200px;
    height: fit-content;
    min-height: 100vh;

    .visual {
      display: none;
      width: 100%;
      text-align: center;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .container {
      h2 {
        color: $textHeadColor;
        text-align: center;
        margin: 20px;
      }

      form {
        display: grid;
        position: relative;
        transition: all 0.3s ease;

        .ar {
          margin-bottom: 20px;
          position: relative;

          .errorNotify4 {
            padding: 2px 0 0 8px;
            position: absolute;
            font-size: 10px;
            color: red;
          }
        }

        input {
          padding: 15px;
          border: 1px solid #e3e3e3;
          outline: 0;
          width: 100%;
          border-radius: 8px;
          font-size: 12px;
          box-shadow: 0 2px 2px 0 RGB(43 80 237 / 20%);
          color: #000;
        }

        .text {
          display: block;
        }

        button {
          background: $btnBgColor;
          color: #fff;
          font-weight: 600;
          font-size: 18px;
          letter-spacing: 2px;
          padding: 14px;
          cursor: pointer;
          border-radius: 8px;
          text-align: center;
          display: flex;
          justify-content: center;
          height: 52px;

          .loader,
          .loader:after {
            border-radius: 50%;
            width: 20px;
            height: 20px;
          }

          .loader {
            font-size: 10px;
            position: relative;
            border-top: 3px solid rgba(255, 255, 255, 0.2);
            border-right: 3px solid rgba(255, 255, 255, 0.2);
            border-bottom: 3px solid rgba(255, 255, 255, 0.2);
            border-left: 3px solid #ffffff;
            -webkit-transform: translateZ(0);
            -ms-transform: translateZ(0);
            transform: translateZ(0);
            -webkit-animation: load8 1.1s infinite linear;
            animation: load8 1.1s infinite linear;
          }

          @-webkit-keyframes load8 {
            0% {
              -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
            }
            100% {
              -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
            }
          }
          @keyframes load8 {
            0% {
              -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
            }
            100% {
              -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
            }
          }
        }
      }

      .separator {
        text-align: center;
        margin: 12px 0;
        font-size: 12px;
      }

      .toLoginbtn {
        background: #fff;
        color: $btnBgColor;
        font-weight: 600;
        font-size: 18px;
        letter-spacing: 2px;
        padding: 14px;
        border: 1px solid $btnBgColor;
        letter-spacing: 2px;
        width: 100%;
        border-radius: 8px;
        box-shadow: 0 4px 4px 0 RGB(43 80 237 / 20%);
        text-align: center;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (min-width: 999px) {
  .register-container {
    position: relative;
    background: #fff;
    height: 100%;
    padding-bottom: 0;

    .main-container {
      width: 100%;
      height: fit-content;
      min-height: 95vh;
      max-width: 1200px;
      display: grid;
      grid-template-columns: 1fr 400px;
      margin: 0 auto;
      padding: 200px 0 200px;
      background: #fff;

      .visual {
        display: block;
        height: 550px;
        width: 550px;
      }

      .container {
        h2 {
          font-size: 40px;
          margin-bottom: 40px;
        }
      }
    }
  }
}
