@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;900&display=swap");

$textHeadColor: #735c5c;
$btnBgColor: #8d00ca;

.register-container {


  .main-container {
    padding: 120px 20px 20px;

    .visual {
     display: none;
      width: 100%;
      text-align: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .container {

    h2 {
      color: $textHeadColor;
      text-align: center;
      margin: 20px;
    }

    form {
      display: grid;
      grid-gap: 15px;

      input {
        padding: 15px;
        border: 1px solid #e3e3e3;
        outline: 0;
        width: 100%;
        border-radius: 8px;
        font-size: 12px;
        box-shadow: 0 2px 2px 0 RGB(43 80 237 / 20%);
        color: #000;
      }

      input[type="submit"] {
        background: $btnBgColor;
        color: #fff;
        font-weight: 600;
        font-size: 18px;
        letter-spacing: 2px;
        padding: 14px;
        cursor: pointer;
      }
    }

    .separator {
      text-align: center;
      margin: 12px 0;
      font-size: 12px;
    }

    .toLoginbtn {
      background: #fff;
      color: $btnBgColor;
      font-weight: 600;
      font-size: 18px;
      letter-spacing: 2px;
      padding: 14px;
      border: 1px solid $btnBgColor;
      letter-spacing: 2px;
      width: 100%;
      border-radius: 8px;
      box-shadow: 0 4px 4px 0 RGB(43 80 237 / 20%);
      text-align: center;
      cursor: pointer;
    }


  }
  }

}


@media only screen and (min-width: 999px) { 

  .register-container {

    background: #fff;


    .main-container {
      width: 100%;
      height: 100%;
      max-width: 1200px;
      display: grid;
      grid-template-columns: 1fr 400px;
      margin: 50px auto;

      .visual {
        display: block;
        height: 550px;
        width: 550px;
      }

      .container {
        h2 {
          font-size: 40px;
          margin-bottom: 40px;
        }
      }
    }
  }
}

