<div class="category__container">
  <app-nav></app-nav>

  <div class="category_main__container">
    <div class="category_header__container">
      <img
        src="../../../assets/imgs/men.jpg"
        (load)="imgIsLoaded()"
        (error)="detectErroImg($event)"
        alt=""
      />
    </div>

    <div class="category_content__container">
      <div class="category__container">
        <div class="options">
          <h4>{{ categoryId }}</h4>
          <div class="sort">
            <label for="op">Sort by:</label>

            <select id="op">
              <option value="priceasc">Price - High to Low</option>
              <option value="pricedsc">Price - Low to High</option>
            </select>
          </div>
        </div>

        <div class="container">
          <app-productpreview
            *ngFor="let product of categoryProductsArray"
            [productArray]="product"
          ></app-productpreview>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
