// .login-container{
//     padding: 0 20px;
//     display:flex;
//     width:100%; height: 100%;
//     position: relative;
//     align-items: center;
//     flex-direction: column;

//     app-header{
//         width:100%;
//     }

//     app-form{
//         display:flex;
//         width: 100%;
//         flex-direction: column;
//         align-items: center;
//     }
// }

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;900&display=swap");

$textHeadColor: #735c5c;
$btnBgColor: #904490;

.login-container {
  background: #fff;

  app-nav {

  }

  .main-container {
    padding: 120px 20px 20px;

    .visual {
     display: none;
      width: 100%;
      text-align: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .container {

    h2 {
      color: $textHeadColor;
      text-align: center;
      margin: 20px;
    }

    form {
      display: grid;
      grid-gap: 15px;

      input {
        padding: 15px;
        border: 1px solid #e3e3e3;
        outline: 0;
        width: 100%;
        border-radius: 8px;
        font-size: 12px;
        box-shadow: 0 2px 2px 0 RGB(43 80 237 / 20%);
      }

      input[type="submit"] {
        background: #8d00ca;
        color: #fff;
        font-weight: 600;
        font-size: 18px;
        letter-spacing: 2px;
        padding: 14px;
        cursor: pointer;
      }

      .forgotpass {
        font-size: 12px;
        

        p {
            width: fit-content;
            cursor: pointer;
            margin-left: auto;
        }
      }
    }

    .separator {
      text-align: center;
      margin: 12px 0;
      font-size: 12px;
    }

    .toLoginbtn {
      background: #fff;
      color: $btnBgColor;
      font-weight: 600;
      font-size: 18px;
      letter-spacing: 2px;
      padding: 14px;
      border: 1px solid #8d00ca;
      letter-spacing: 2px;
      width: 100%;
      border-radius: 8px;
      box-shadow: 0 4px 4px 0 RGB(43 80 237 / 20%);
      text-align: center;
      cursor: pointer;
    }


  }
  }

}


@media only screen and (min-width: 999px) { 

  .login-container {


    .main-container {
      width: 100%;
      max-width: 1200px;
      display: grid;
      grid-template-columns: 1fr 400px;
      margin: 50px auto; 

      .visual {
        display: block;
        height: 550px;
        width: 550px;
      }

      .container {
        h2 {
          font-size: 40px;
          margin-bottom: 40px;
        }
      }

    }
  }
}
