<div class="home-container">
  <app-nav currentRoute="home"></app-nav>

  <div class="main-container">
    
    <app-carousel *ngIf="discoverProductsArray.length != 0"></app-carousel>

    <div class="topnew__container">
      <div class="top_products__container" *ngIf="topProductsArray.length > 0">
        <div class="options">
          <h4>TOP PRODUCTS</h4>
          <div class="see_more">
            See more <i class="fal fa-chevron-right"></i>
          </div>
        </div>

        <div class="container">
          <app-productpreview
            *ngFor="let product of topProductsArray"
            [productArray]="product"
          ></app-productpreview>
          <div class="seemorebtn" *ngIf="topProductsArray.length >= 7"><p>See More</p></div>
        </div>
      </div>

      <div class="new_products__container" *ngIf="newProductsArray.length > 0">
        <div class="options">
          <h4>NEW PRODUCTS</h4>
          <div class="see_more">
            See more <i class="fal fa-chevron-right"></i>
          </div>
        </div>

        <div class="container">
          <app-productpreview
            *ngFor="let product of newProductsArray"
            [productArray]="product"
          ></app-productpreview>
          <div class="seemorebtn" *ngIf="topProductsArray.length >= 7"><p>See More</p></div>
        </div>
      </div>
    </div>

    <div class="noProductsAvailable_container" *ngIf="discoverProductsArray.length == 0">
      <img src="../../../../../assets/imgs/noproduct.svg" alt="">
    </div>

    <div class="menWomen_container" *ngIf="discoverProductsArray.length > 0">
      <div
        class="asc"
        routerLink="/categories/men"
        data-aos="fade-up"
        data-aos-offset="100"
      >
        <div class="label">Men</div>
        <img src="../../../assets/imgs/men.jpg" alt="" />
      </div>
      <div
        class="asc"
        routerLink="/categories/women"
        data-aos="fade-up"
        data-aos-offset="100"
      >
        <div class="label">Women</div>
        <img src="../../../assets/imgs/women.jpg" alt="" />
      </div>
    </div>

    <div class="discover__container" *ngIf="discoverProductsArray.length > 0">
      <div class="options">
        <h4>DISCOVER</h4>
        <div class="sort">
          <label for="op">Sort by:</label>

          <select id="op">
            <option value="priceasc">Price - High to Low</option>
            <option value="pricedsc">Price - Low to High</option>
          </select>
        </div>
      </div>

      <div class="container">
        <app-productpreview
          *ngFor="let product of discoverProductsArray"
          [productArray]="product"
        ></app-productpreview>
      </div>

      <div class="loadmore" (click)="loadMoreDiscoverProducts()">Load more products</div>
    </div>
    <app-footer></app-footer>
  </div>
</div>
