<div class="my-profile-container">
  <!---cheering-animation-->
  <img
    src="../../../../../assets/gif/man-with-computer.gif"
    lat="man-with-computer"
    class="man-with-computer"
  />
  <!------form-of-profile-editing-->
  <div class="from-container">
    <form >
      <div class="boxImg">
        <div class="box">
          <img
          *ngIf="userData"
          [src]="userData.image == null || userData.image != userSettingForm.user_img ? imgFilePreview : userData.image"
          alt="user image"
        />
        <input
          type="file"
          #settingImgInput
          class="imageInput"
          [(ngModel)]="userSettingForm.user_img"
          [ngModelOptions]="{ standalone: true }"
          (change)="loadInputImgToPreview($event)"
        />
        <i class="fal fa-camera" (click)="settingImgInput.click()"></i>
        </div>
      </div>

      <div class="input-box">
        <label for="">Name</label>
        <input
          type="text"
          placeholder="Enter your name"
          [(ngModel)]="userSettingForm.user_name"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>

      <div class="input-box">
        <label for="">Email</label>
        <input
          type="text"
          placeholder="Enter your email"
          [(ngModel)]="userSettingForm.user_email"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>

      <div class="input-box">
          <label for="">Address</label>
          <input
            type="text"
            placeholder="Enter your address"
            [(ngModel)]="userSettingForm.user_address"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>

      <button [disabled]="submitLoading" (click)="onSubmitUserSettingForm()" type="submit" name="confirm" class="confirm">
        <h4 *ngIf="!submitLoading">Update Data</h4>
        <div *ngIf="submitLoading" class="loader"></div>
      </button>
      <div (click)="goBack()" class="cancel">
        <h4>CANCEL</h4>
      </div>
    </form>
  </div>
</div>
