<div class="my-profile-container">
  <!---cheering-animation-->
  <img
    src="../../../../../assets/gif/man-with-computer.gif"
    lat="man-with-computer"
    class="man-with-computer"
  />
  <!------form-of-profile-editing-->
  <div class="from-container">
    <form (ngSubmit)="onSubmit()" [formGroup]="updateForm">
      <div class="prof-container">
        <div class="circle">
          <img src="../../../../../assets/imgs/men.jpg" />
          <input type="file" id="file" name="image" />
        </div>
      </div>

      <mat-form-field>
        <mat-label>Name</mat-label>
        <input
          formControlName="name"
          type="text"
          matInput
          placeholder=""
          value=""
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
          formControlName="email"
          type="email"
          matInput
          placeholder=""
          value=""
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          formControlName="password"
          type="password"
          matInput
          placeholder=""
          value=""
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Phone no.</mat-label>
        <input
          formControlName="number"
          matInput
          placeholder="ex.0912-123-1234"
          type="tel"
          value=""
          pattern="[0-9]{4}-[0-9]{3}-[0-9]{4}"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input
          formControlName="address"
          type="text"
          matInput
          placeholder=""
          value=""
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Date of Birth</mat-label>
        <input
          formControlName="date"
          type="date"
          matInput
          placeholder=""
          value=""
          required
        />
      </mat-form-field>

      <button type="submit" name="confirm" class="confirm">
        <h4>UPDATE DATA</h4>
      </button>
      <div (click)="goBack()" class="cancel">
        <h4>CANCEL</h4>
      </div>
    </form>
  </div>
</div>
