@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;900&display=swap");
$formBack: rgb(0, 140, 255);
$formText: black;

.my-profile-container {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 700px 400px;
  grid-template-rows: 1fr;
  padding: 20px;
  max-width: 1400px;
  margin: 0 auto;
  align-items: center;

  .man-with-computer {
    display: grid;
    width: 550px;
    height: 550px;
    object-fit: cover;
  }

  .from-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;

    .subtitle {
      margin-bottom: -30px;
    }

    form::before,
    form::after {
      content: "";
      position: absolute;
      border-radius: 999px;
      background-color: #fff;
    }

    form::after {
      width: 50px;
      height: 50px;
      transform: translateX(-410px) translateY(60px);
    }

    form::before {
      width: 100px;
      height: 100px;
      transform: translateX(-280px) translateY(-10px);
    }

    form {
      border-radius: 1rem;
      display: grid;
      width: 100%;
      min-height: fit-content;
      justify-items: center;
      align-content: center;
      box-shadow: 0 4px 4px 0 RGB(43 80 237 / 20%);
      border: 2px solid #fff;
      padding: 20px;
      background: #fff;

      .prof-container {
        margin-bottom: 30px;
        width: 100;
        height: 5rem;
        display: grid;
        justify-items: center;
        align-content: center;

        .circle {
          width: 8rem;
          height: 8rem;
          overflow: hidden;
          box-shadow: 0px -2.5px 1px white, 2.5px 0px 1px white,
            0px 2.5px 1px white, -2.5px 0px 1px white;
          border-radius: 999px;
          transform: translateY(-20px);

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          input[type="file"]::-webkit-file-upload-button {
            border: none;
            background-color: rgba(255, 255, 255, 0.3);
            height: 2rem;
            font-size: 14px;
            transform: translateX(-10px);
            padding-bottom: 10px;
            color: white;
            text-shadow: 0px 0px 1px black;
            width: 100%;
          }

          input[type="file"] {
            transform: translateY(-35px);
          }
        }
      }

      .mat-form-field {
        width: 100%;
        font-size: 14px;
      }
    }

    .cancel,
    button {
      width: 100%;
      background: purple;
      color: #fff;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      box-shadow: 0 4px 4px 0 RGB(43 80 237 / 20%);
      cursor: pointer;
      margin-top: 10px;

      h4 {
        font-size: 14px;
        font-weight: 600;
      }
    }

    .cancel {
      background-color: rgb(235, 36, 36);
    }
  }
}

input {
  text-indent: 10px;
  color: $formText;
}

mat-label {
  color: $formText;
  margin-left: 10px;
}

@media only screen and (max-width: 700px) {
  .my-profile-container {
    grid-template-columns: 1fr;

    .man-with-computer {
      display: none;
    }

    .from-container {
      border-radius: 0px;
      background-color: white;

      form::before,
      form::after {
        display: none;
      }
    }
  }
}
