<div class="user-header">
    <div class="top-header">
          <div class="arrow-icons">
               <i routerLink="/account"class="material-icons-outlined">arrow_back</i>
          </div>
          <div class="my-store">
               <h3>MY STORE</h3>
          </div>
          <div class="icons-setting">
               <i class="material-icons-outlined">settings</i>
           </div>

    </div>
   
      <div class="user-store-container">
            <div class="store-profile-image">
                 <img src="https://avatars.githubusercontent.com/u/59472122?v=4" alt="No image">
            </div>
            <div class="store-content">
                 <h3>Baldo123**</h3>
                 <sub>Followers 6  |</sub> <sub> Following 22</sub>
            </div>
            <div class="msg_icons">
                 <a href="/account/store/#message"><i class="material-icons-outlined">chat_bubble_outline apan </i></a>
                 
            </div>
      </div>
  
  </div>
  <div class="msg-container" id="message">
    
      <!--Messagecustomer-->
     <app-message></app-message>
   </div>
