<div class="bg-header">
           <h3 id="name">Shoppepe</h3>
           <form action="" method="get">
               <div class="flex">
                  <i id="i-left"class="material-icons-outlined">search</i>
                  <input class="input-center" type="text" name=""placeholder="Search items or store" id="">
               </div>
               <span id="span-right"class="material-icons-outlined">shopping_cart</span>
           </form>
          <br>
       </div>
       <footer>
            <div class="group-icons">
               <div class="box">
                  <i id="home"class="material-icons-outlined">home</i>
                  <a id="home"href="">Home</a>
               </div>
               <div class="box">
                  <i id="local"class="material-icons-outlined">local_offer</i>
                  <a id="local"href="">Tags</a>
               </div>
               <div class="box">
                  <i id="store"class="material-icons-outlined">store</i>
                  <a id="store"href="">Store</a>

               </div>
               <div class="box">
                  <i id="person"class="material-icons-outlined">person</i>
                  <a id="person"href="">Me</a>
                </div>
            </div>
       </footer>
