@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Outlined');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;900&display=swap');


$fontStyle:Montserrat;
$hoverStyle:#735C5C;
$bgColor:#904490;
$color:#735C5C;
$color2:floralwhite;
$shadow:black;

* {
  padding:0;
  margin:0;
  box-sizing: border-box;
}

.bg-header{
  z-index: 1;
  position: fixed;
  top:0; 
  left:0;
  padding: 20px;
  background-color:$bgColor ;
  display:flex;
  font-family: $fontStyle;
  color: $color2;
  width: 100%; 
  height: fit-content;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  $shadow:black;

    .container-logo-and-notification{
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-bottom: 10px;

      #name{
        font-weight: 800;
      }

      .notification-container{
        display: grid;
        grid-template-columns: 40px 40px;
        align-items: center;

        i{
          flex:1;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          font-size: 1.5em;
        }
      }
    }

    form {
      width: 100%;

      .flex {
        display:flex;
        justify-content: center;
        align-items: center;
        width:100%;

        button {
          background-color: $bgColor;
          width: 3rem;
          height: 38px;
          border: none;


          border: 1px 0 1px 1px solid #904490;
          box-sizing: border-box;
          box-shadow: 0px 4px rgba(0, 0, 0, 0.25);
          border-radius: 0 0 10px 10px;
          z-index: 5;

          i {
            cursor:pointer;
            border-radius: 10px 0 0 10px;
            display: flex;
            justify-content: flex-end;
            color:$bgColor;
            background-color: white;
            padding-right:10px;
            width:100%;
            height: 100%;
            justify-content: flex-end;
            align-items: center;
            font-size: 20px
          }
        }

        input {
          width: 100%;
          font-size: 14px;
          outline: none;
          padding: 10px;

          border: 1px 1px 1px 0 solid #904490;
          box-sizing: border-box;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 0 10px 10px 0;
          position: relative;
          left: -5px;
          height: 38px;

        }
      }

    #span-right{
      display:flex;
      width: 15%;
      cursor: pointer;
    }     
  }
}

.flex:hover #i-left{
    background-color: $bgColor;
    color:$color2;
    border:0.5px solid $color2;
}

.notification-container i:hover{
    color:$hoverStyle;
    text-shadow: 0px 0px 5px $color2,
                 0px 0px 1px $color2,
                0px 0px 3px $shadow;
}

app-carousel{
    display:flex;
    width:100%; height:8rem;
    margin-top: 110px;
}

app-hotsales{
    display:flex;
    flex-direction: column;
    width:100%;
}
