@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Outlined');
@import url('https://fonts.googleapis.com/css2?family=Montserrat');
* {
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
}
div.center{
    margin-left: 15%;
}
div.line{
    border-top: 1px solid #554155;
}
.bg-header{
    background-color:#904490 ;
    position: relative;
    
    font-family: Montserrat;
    color: floralwhite;
    padding: 10px;
    max-width: 100%;
}
#name{
    margin-left: 5%;
    font-weight: 800;
}
form{
    position: relative;
    width: 100%;
}

.input-center::placeholder{
    font-family: Montserrat;
    font-size: 10px;
}
#i-left{
    background-color: white;
    color: #735C5C;
    padding: 4px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.input-center{
    width: 60%;
    padding: 10px;
    transition:  width .5s;
    float: left;
    outline: none;
    border: none;
    font-family: Montserrat;
    border-top-right-radius: 5px ;
    border-bottom-right-radius: 5px;
    
}
.flex:hover > .input-center{
    border: 1px #735C5C solid ;
    width: 70%;
}
.flex:hover > #i-left{
    background-color:#904490 ;
    border: 1px floralwhite solid;
    color: floralwhite;
}
.flex{
    display: flex;
    max-width: 90%;
    
}
.group-icons{
    margin-left: 5%;
    width: 100%;
}
#span-right{
     margin-left: 80%;
     position: absolute;
     margin-top: -11%;
     transition: width .5s;
     font-size: 28px;
}
#span-right:hover{
    background-color: floralwhite;
    padding: 4px;
    border-radius: 5px;
    color: #735C5C;
}
.box{
    float: left;
    font-family: Montserrat;
    width:24.22%;
    font-size: 15px;
    font-weight: 700;
    display: inline-flexbox;
    
}
.box:hover > #home{
    color:#904490  ;
    width: 90%;
    border-radius: 2px;
    opacity: 1;
}
.box:hover > #local{
    color:#904490  ;
    width: 90%;
    border-radius: 2px;
}
.box:hover > #store{
    color:#904490  ;
    width: 90%;
    border-radius: 2px;
}
.box:hover > #person{
    color:#904490  ;
    width: 90%;
    border-radius: 2px;
}
#home{
    
    display: flex;
    
    text-decoration: none;
    color: #735C5C;
    
}


#local{
    display: block;
    text-decoration: none;
    color: #735C5C;
}
#store{
    display: block;
    text-decoration: none;
    color: #735C5C;
}
#person{
    display: block;
    text-decoration: none;
    color: #735C5C;
}
footer{
    bottom: 1%;
    margin-left: 0;
    padding: 3px;
    position: absolute;
    
    width: 100%;
    
}
