   
<div class="container-fluid">
    <div class="header">
     <div class="title">
         <h3 class="material-icons-mons">Shoppepe</h3>
      </div>
       <form class="form"action="" method="get">
         <i class="material-icons-outlined">search</i>
         <input type="text" col="56"name=""placeholder="Search items or store" id="">
         <div class="span">
          <span class="material-icons-outlined">shopping_cart</span>
         </div>
       </form><br><br>
    </div>
   
      <div class="icons">
        <i class="material-icons-outlined">home</i>
        <i class="material-icons-outlined">local_offer</i>
        <i class="material-icons-outlined">store</i>
        <i class="material-icons-outlined">person</i>
      </div>
      <div class="icons-name">
        <a href="">Home</a>
        <a href="">Tags</a>
        <a href="">Store</a>
        <a href="">Me</a>
      </div>
   
</div>
