@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Outlined');
@import url('https://fonts.googleapis.com/css2?family=Montserrat');

$fontStyle:Montserrat;
$hoverStyle:#735C5C;
$bgColor:#904490;
$color:#735C5C;
$color2:floralwhite;
$shadow:black;

* {
    padding:0;
     margin:0;
    box-sizing: border-box;
}

.bg-header{
    position: fixed;
    top:0; left:0;
    background-color:$bgColor ;
    display:flex;
    font-family: $fontStyle;
    color: $color2;
    width: 100%; height: 15vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    $shadow:black;
    .container-logo-and-notification{
        display: flex;
        width: 80%;
        justify-content: space-between;
        align-items: center;
        #name{
            display: flex;
            width:100%; height: 100%;
            margin-left: 10%;
            font-weight: bold;
            pointer-events: none;
            text-shadow: 1px 1px 3px $shadow;
        }
        .notification-container{
            display:flex;
            width:100%;
            justify-content: space-around;
            align-items: center;
            align-items: center;
            i{
                flex:1;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                font-size: 1.5em;
            }
        }
    }
    form{
        display:flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        .flex{
            display:flex;
            justify-content: center;
            align-items: center;
            width:80%;
            button{
                background-color: $bgColor;
                width:3rem;
                height: 2.3rem;
                border:none;
                i{
                    cursor:pointer;
                    border-radius: 10px 0 0 10px;
                    display: flex;
                    justify-content: flex-end;
                    color:$bgColor;
                    background-color: $color2;
                    padding-right:10px;
                    width:100%;
                    height: 100%;
                    justify-content: flex-end;
                    align-items: center;
                }
            }
            input{
                width:95%;
                justify-content: flex-start;
                height: 2.3rem;
                font-size: 1rem;
                border:none;
                border-radius: 0 15px 15px 0;
                text-indent: 15px;
                outline:none;
                font-family: $fontStyle;
            }
        }
        #span-right{
            display:flex;
            width: 15%;
            cursor: pointer;
        }     
    }
}

.flex:hover #i-left{
    background-color: $bgColor;
    color:$color2;
    border:0.5px solid $color2;
}

.notification-container i:hover{
    color:$hoverStyle;
    text-shadow: 0px 0px 5px $color2,
                 0px 0px 1px $color2,
                0px 0px 3px $shadow;
}