<div class="home-container">
  <div class="bg-header">
    <div class='container-logo-and-notification'>
      <h2 id="name">SHOP</h2>
      <div class='notification-container'>
         <i  class="far fa-shopping-cart"></i>
         <i  class="far fa-comment-alt"></i>
      </div>
    </div>
    <form action="" method="get">
      <div class="flex">
         <button class='Search'>
          <i id='i-left' class="fal fa-search fa-2x"></i>
         </button>
         <input class="input-center" type="text" name=""placeholder="Search items or store" id="search">
      </div>
    </form>
    </div>
    <app-carousel></app-carousel>
    <app-hotsales></app-hotsales>
    <app-discover></app-discover>
    <app-footer></app-footer>
</div>