<div class="createproductmodal_container">
  <div class="headeraaa">
    <h5>Add Product</h5>
    <i class="fal fa-times" (click)="closeModal()"></i>
  </div>

  <form
    class="content_container"
    (ngSubmit)="onSubmitCreateProduct()"
    [formGroup]="createProductForm"
  >
    <div class="product_image_container">
      <input
        class="imageInput"
        type="file"
        (change)="loadImg($event)"
        formControlName="product_image"
        #imageUpload
      />
      <img [src]="imgFilePreview" alt="" (click)="imageUpload.click()" />
    </div>
    <div class="product_details_container">
      <div class="grp">
        <label for="product_name">Product name</label>
        <input
          type="text"
          name="product_name"
          placeholder="Enter product name"
          id=""
          formControlName="product_name"
        />
      </div>
      <div class="grp">
        <label for="product_description">Product description</label>
        <textarea
          name="product_description"
          id=""
          cols="30"
          rows="5"
          placeholder="Enter product description"
          formControlName="product_description"
        ></textarea>
      </div>

      <div class="grid-column">
        <div class="grp">
          <label for="product_price">Product price</label>
          <input
            type="number"
            name="product_price"
            placeholder="Enter product price"
            formControlName="product_price"
            id=""
          />
        </div>
        <div class="grp">
          <label for="product_category">Product quantity</label>
          <input
            type="number"
            name="product_name"
            placeholder="Enter product quantity"
            formControlName="product_quantity"
            id=""
          />
        </div>
      </div>

      <div class="product_category_container">
        <label for="CategoryId">Product category</label>
        <select
          name="CategoryId"
          id=""
          formControlName="CategoryId"
        >
          <option *ngFor="let category of categoriesArr" [value]="category.id">{{ category.name }}</option>
        </select>
      </div>

      <button [disabled]="submitLoading" class="addBtn_container">
        <h4 *ngIf="!submitLoading">Add product</h4>
        <div class="loader" *ngIf="submitLoading"></div>
      </button>
    </div>
  </form>
</div>
