<div class="discoverItems-container">
    <h4 class='content-title'>DISCOVER</h4>
    <div class='content-container'>
        <!-- loop the item here -->
        <div class='each-item-container'>
            <div class='image-container'>
                <p>think twice</p>
                <p>code once!</p>
            </div>
            <p class='title' id='title'>a picture of an image that is photo</p>
            <p class='price' id='price'>PHP: 1000</p>
        </div>
        <div class='each-item-container'>
            <div class='image-container'>
                <p>think twice</p>
                <p>code once!</p>
            </div>
            <p class='title' id='title'>a picture of an image that is photo</p>
            <p class='price' id='price'>PHP: 1000</p>
        </div>
        <div class='each-item-container'>
            <div class='image-container'>
                <p>think twice</p>
                <p>code once!</p>
            </div>
            <p class='title' id='title'>a picture of an image that is photo</p>
            <p class='price' id='price'>PHP: 1000</p>
        </div>
        <div class='each-item-container'>
            <div class='image-container'>
                <p>think twice</p>
                <p>code once!</p>
            </div>
            <p class='title' id='title'>a picture of an image that is photo</p>
            <p class='price' id='price'>PHP: 1000</p>
        </div>
        <div class='each-item-container'>
            <div class='image-container'>
                <p>think twice</p>
                <p>code once!</p>
            </div>
            <p class='title' id='title'>a picture of an image that is photo</p>
            <p class='price' id='price'>PHP: 1000</p>
        </div>
        <div class='each-item-container'>
            <div class='image-container'>
                <p>think twice</p>
                <p>code once!</p>
            </div>
            <p class='title' id='title'>a picture of an image that is photo</p>
            <p class='price' id='price'>PHP: 1000</p>
        </div>
        <div class='each-item-container'>
            <div class='image-container'>
                <p>think twice</p>
                <p>code once!</p>
            </div>
            <p class='title' id='title'>a picture of an image that is photo</p>
            <p class='price' id='price'>PHP: 1000</p>
        </div>
        <div class='each-item-container'>
            <div class='image-container'>
                <p>think twice</p>
                <p>code once!</p>
            </div>
            <p class='title' id='title'>a picture of an image that is photo</p>
            <p class='price' id='price'>PHP: 1000</p>
        </div>
        <div class='each-item-container'>
            <div class='image-container'>
                <p>think twice</p>
                <p>code once!</p>
            </div>
            <p class='title' id='title'>a picture of an image that is photo</p>
            <p class='price' id='price'>PHP: 1000</p>
        </div>
        <div class='each-item-container'>
            <div class='image-container'>
                <p>think twice</p>
                <p>code once!</p>
            </div>
            <p class='title' id='title'>a picture of an image that is photo</p>
            <p class='price' id='price'>PHP: 1000</p>
        </div>
    </div>
</div>
