
$color:#735C5C;

.discoverItems-container {
  margin-bottom: 100px;

  .content-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    padding: 0 20px;

    app-productpreview {
      .product-image {
        max-height: 168px;
          
        img {

        }
      }
    }
  }

  .content-title{
    padding: 40px 20px 10px;
    color:$color;
  }


}

