<div class="nav__container">
	<div class="upperNav__container" [ngClass]="{upperNav__scrollShadow: onScroll}">
		<div class="upperNavIcons__container">
			<div class='logo'>
				<i class="fab fa-shopify"></i>
				<h2>HOP</h2>
			</div>
			<div class="icons">
				<i (click)="openCloseSearchBar(); searchInput.focus()"  class="far fa-search" [ngClass]="{selectedIcon: isSearchBarOpen}"></i>
				<i  class="far fa-shopping-cart"></i>
        <i  class="far fa-comment-alt"></i>
			</div>

		</div>

		<div class="searchBar" [ngClass]="{viewSearchBar: isSearchBarOpen}">
			<i class="far fa-search"></i>
			<input #searchInput type="text" placeholder="Search stores or items">
		</div>
	</div>

	<div (click)="openCloseSearchBar()" class="navDark__overlay" [ngClass]="{navDark__open_overlay: isSearchBarOpen}"></div>


	<div class="lowerNav__container">
		<a routerLink="/" class="box" [ngClass]="{'currentPage': currentRoute === 'home' }">
      <i id='home' class="far fa-home-alt"></i>
      <h5>Home</h5>
    </a>
    <a routerLink="/categories" class="box" [ngClass]="{'currentPage': currentRoute === 'categories' }">
      <i id="local"class="far fa-tag"></i>
      <h5>Categories</h5>
    </a>
    <a routerLink="/categories"  class="box" [ngClass]="{'currentPage': currentRoute === 'store'}">
      <i id="store"class="far fa-store"></i>
      <h5>Store</h5>
    </a>
    <a routerLink="/account" class="box" [ngClass]="{'currentPage': currentRoute === 'account' }">
      <i class="far fa-user"></i>
      <h5>Me</h5>
    </a>
	</div>
</div>