@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;900&display=swap');


$textHeadColor: #735C5C;

.nav__container {

	.search_navDark__overlay, .sidebar_navDark__overlay {
		position: fixed;
		background: #000;
		height: 100%;
		width: 100%;
		opacity: .5;
		z-index: 21;
		display: none;
	}

	.sidebar {
		width: 300px;
		height: 100%;
		position: fixed;
		right: -300px;
		background: #fff;
		z-index: 24;
		padding: 20px;
		transition: all .3s ease;

		.sidebar_header {
			display: flex;
			justify-content: space-between; 

			i {
				cursor: pointer;
			}
		}

		.content {
			margin-top: 40px;
			display: grid;
			grid-gap: 10px;

			.items {
				padding: 10px 12px;
				border: 1px solid #fff;
				transition: all .3s ease;
				cursor: pointer;
				border-radius: 2px;

				&:hover {
					border: 1px solid #8d00ca;
					box-shadow: 0 2px 2px 0 RGB(43 80 237 / 20%);
				}
			}

			.currentPage {
				background: #8d00ca;
				color:#fff;
				box-shadow: 0 2px 2px 0 RGB(43 80 237 / 20%);
				border: 1px solid #8d00ca;
			}
		}
	}

	.open_sidebar {
		right: 0;
		top: 0;
	}

	.sidebar_navDark__overlay {
		z-index: 23;
		top: 0;
	}

	.search_navDark__open_overlay, .sidebar_navDark__open_overlay {
		display: block;
	}

	.upperNav__container {
		position: fixed;
		width: 100%;
		top: 0;
		padding: 15px 20px 10px;

		background: #fff;
		z-index: 22;
		border-bottom: 1px solid #e3e3e3;

		.upperOptions {
			display: none;
		}

		.upperNavIcons__container {
			width: 100%;
			display: flex;
			justify-content: space-between; 

			.logo {
				display:flex;
				justify-content: center;
				align-items: center;
				cursor: pointer;
				

				i,h2 {
					font-size: 1.5rem;
					color:white;
					text-shadow: 0px 0px 1px rgba(0,0,0,.5),
								 0px 1px 1px rgba(0,0,0,.5),
								 1px 1px 1px rgba(0,0,0,.5),
								 1px 1px 1px rgba(0,0,0,.5);
					pointer-events: none;
				}
			}

			.icons {
				font-size: 23px;
				display: grid;
				grid-template-columns: repeat(3, 25px);
				align-items: center;
				grid-gap: 15px;

				 i {
				 	cursor: pointer;
				 }

				.selectedIcon {
					color: #8d00ca;
				}

				.fa-bars {
					display: none;
				}
			} 
		}

		.searchBar {
			position: absolute;
			top: -100px;
			left: 0;
			transition: all .3s ease;
			background: #fff;
			box-shadow: 0 4px 4px 0 RGB(43 80 237 / 20%);

			padding: 10px 20px;
			width: 100%;
			z-index: 10;

			i {
				position: absolute;
				top: 22px;
				left: 32px;
				color: #b2b0b0;
			}

			input {
				width: 100%;
				padding: 10px 10px 10px 40px;
				border-radius: 8px;
				border: 1px solid #e3e3e3;
				outline: 0;
			}

			.btn {
				display: none;
			}
		}

		.viewSearchBar {
			top: 45px;
		}
	}

	.upperNav__scrollShadow {
		box-shadow: 0 4px 4px 0 RGB(43 80 237 / 20%);
	}

	.lowerNav__container {
		position: absolute;
		z-index: 20;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		position: fixed;
		bottom: 0;
		width: 100%;
		border-top: 1px solid #e3e3e3;
		background: #fff;

		.box {
			display: grid;
			place-items: center;
			padding: 12px 10px 10px;
			grid-gap: 8px;
			text-decoration: none;
			cursor: pointer;
			color: #6f6363;

			h5 {
				font-weight: 400;
			}
		}

    .currentPage {

      i, h5 {
        color: #ff4612;
      }
    }
	}	
}



@media only screen and (min-width: 999px) { 


	.nav__container {


		.upperNav__container {
			background: #8d00ca;
			color: #fff;
			border-bottom: 0 solid #e3e3e3;

			.upperOptions {
				display: flex;
				justify-content: space-between;
				max-width: 1400px;
				margin: 0 auto;
				padding: 0 20px 30px;
				font-size: 13px;


				.container {
					display: flex;

					.item {
						display: flex;
						margin-right: 10px;
						align-items: center;
						cursor: pointer;


						&:hover {
							color: #e3e3e3;
						}

						i {
							margin-right: 5px;
						}
					}

					.as {
						border-right: 1px solid #f4f4f475;
						padding-right: 10px;
					}

					.auth {

						.a:nth-child(1) {
							padding-right: 5px;
							border-right: 1px solid #f4f4f475;
						}

						.a:nth-child(2) {
							padding-left: 5px;
							
						}
					}

					.as:nth-child(3) {
						border: 0;

						i:nth-child(1) {
							margin-left: 10px;
						}
					}

				}

			}
			

			.upperNavIcons__container {
				max-width: 1400px;
				margin: 0 auto;
				padding: 0 20px 5px;

				.icons {
					font-size: 23px;
					display: grid;
					grid-template-columns: repeat(3, 25px);
					align-items: center;
					grid-gap: 20px;

					i {
						&:hover {
							color: #e3e3e3;
						}
					}


					.fa-bars {
						display: block;
					}

					.fa-search {
						display: none;
					}
				}
			}

			.searchBar {
				position: absolute;
				top: 45px;
				left: 0;				
				background: transparent;
				box-shadow: 0 0 0 0 RGB(43 80 237 / 20%);
				margin-left: auto;
				margin-right: auto;
				right: 0;

				padding: 10px 20px;
				width: 800px;
				z-index: 10;

				input {
					border-radius: 2px;
				}

				.btn {
					display: flex;
					align-items: center;
					position: absolute;
					top: 13px;
					right: 22px;
					background-color: #8d00ca;
					padding: 10px;
					height: 33px;
					width: 40px;
					cursor: pointer;

					i {
						position: absolute;
						top: 9px;
						left: 10px; 
						color: #fff;
					}
				}
			}

		}

		.lowerNav__container {
			display: none;
		}
	}
}
