<div class="orders_container">
  <div class="orders_wrapper">
    <header>
      <h2 class="label">Orders</h2>
      <mat-form-field MatFormFieldControl appearance="standard">
        <mat-label>Search</mat-label>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Ex. Chris"
          #input
        />
      </mat-form-field>
    </header>

    <div class="orders_content_container">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Order Id</th>
            <td mat-cell *matCellDef="let row">
              {{ row.id }}
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="totalPayment">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Payment</th>
            <td mat-cell *matCellDef="let row">
              {{ row.order_totalpayment }}
            </td>
          </ng-container>

          <ng-container matColumnDef="paymentMethod">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Payment Method</th>
            <td mat-cell *matCellDef="let row">
              {{ row.order_payment_method }}
            </td>
          </ng-container>

          <ng-container matColumnDef="shippingCourier">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Courier</th>
            <td mat-cell *matCellDef="let row">
              {{ row.order_shipping_courier }}
            </td>
          </ng-container>

          <ng-container matColumnDef="buyerId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Buyer ID</th>
            <td mat-cell *matCellDef="let row">
              {{ row.User.id }}
            </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
            <td mat-cell *matCellDef="let row">
              <mat-chip-list>
                <mat-chip *ngIf="row.order_status == 'Paid'" color="primary" selected>
                  {{ row.order_status }}
                </mat-chip>
              </mat-chip-list>
              <mat-chip-list>
                <mat-chip
                  *ngIf="row.order_status == 'Unpaid'"
                  color="secondary"
                  selected
                >
                  {{ row.order_status }}
                </mat-chip>
              </mat-chip-list>
            </td>
          </ng-container>

          <ng-container matColumnDef="options">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="head"
            >
              Options
            </th>
            <td mat-cell *matCellDef="let row" class="optionCon">
              <button mat-button mat-raised-button color="accent">
                Edit
              </button>
              <button mat-button mat-raised-button color="warn">
                Delete
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">
              No data matching the filter "{{ input.value }}"
            </td>
          </tr>
        </table>

        <mat-paginator
          [pageSizeOptions]="[5, 10, 25, 100]"
          aria-label="Select page of users"
        ></mat-paginator>
      </div>
    </div>
  </div>
</div>
