.orders_container {
  .orders_wrapper {
    padding: 20px 20px;
    padding-top: 0;

    header {
      background: #fff;
      width: 100%;
      padding: 100px 20px 20px;

      h2 {
        color: #310f74;
      }
    }

    .orders_content_container {
      z-index: 19;
      width: 100%;

      .mat-table {
        width: 100%;
        min-width: 634px;
      }

      .mat-elevation-z8 {
        box-shadow: 0 14px 30px 0 RGB(43 80 237 / 20%);
        overflow: auto;
      }

      .mat-form-field {
        font-size: 14px;
        width: 100%;
      }

      td,
      th {
        min-width: fit-content;
        width: 20%;

        .productImage {
          width: 50px;
          height: 50px;
          object-fit: cover;
        }
      }

      .optionCon {
        min-width: fit-content;
        display: flex;

        button:nth-child(1) {
          margin-right: 5px;
          color: #fff;
        }
      }
    }
  }
}
