<div class="productpreview-container" routerLink="/product/23">
	<div class="product-image">
		<img src="https://c0.wallpaperflare.com/preview/507/68/44/iphone-headphone-technology-product.jpg" alt="Can't load the image">
	</div>
	<div class="product-details">
		<div class="product-description">Iphone 16.5</div>
		<div class="product-price">₱ 12345</div>
		<div class="rating">
			<i class="fas fa-star"></i>
			<i class="fas fa-star"></i>
		  <i class="fas fa-star-half-alt"></i>
		  <i class="fal fa-star"></i>
		  <i class="fal fa-star"></i>
		</div>
	</div>
</div>