<div class="product__container">
  <app-nav></app-nav>

  <div class="product_content__container">
    <div class="product__container">
      <div class="product_image__container">
        <div class="backBtn" (click)="goBack()">
          <i class="far fa-arrow-left"></i>
        </div>
        <img
          [src]="productArray.product_image"
          alt=""
          (load)="imgIsLoaded()"
          (error)="detectErroImg($event)"
          [ngClass]="isImgLoaded ? 'showSkel' : 'hideSkel'"
        />
        <div
          [ngClass]="isImgLoaded ? 'hideSkel' : 'showSkel'"
          style="width: 100%; height: 100%"
        >
          <ngx-skeleton-loader
            count="1"
            [theme]="{
              height: '100%',
              width: '100%',
              'min-height': '360px'
            }"
          ></ngx-skeleton-loader>
        </div>
      </div>
      <div class="product_interact">
        <div class="product_details__container">
          <div class="name">
            <div class="aaa">Product name:</div>
            <p [ngClass]="isImgLoaded ? 'showSkel' : 'hideSkel'">
              {{ productArray.product_name }}
            </p>
            <div
              [ngClass]="isImgLoaded ? 'hideSkel' : 'showSkel'"
              style="width: 100%"
            >
              <ngx-skeleton-loader
                count="1"
                [theme]="{
                  height: '100%',
                  'min-height': '20px',
                  width: '200px'
                }"
              ></ngx-skeleton-loader>
            </div>
          </div>
          <div class="description">
            <div class="aaa">Product Description</div>
            <p [ngClass]="isImgLoaded ? 'showSkel' : 'hideSkel'">
              {{ productArray.product_description }}
            </p>
            <div
              [ngClass]="isImgLoaded ? 'hideSkel' : 'showSkel'"
              style="width: 100%"
            >
              <ngx-skeleton-loader
                count="1"
                [theme]="{
                  height: '100%',
                  'min-height': '40px',
                  width: '100%'
                }"
              ></ngx-skeleton-loader>
            </div>
          </div>
          <div class="price_stock__container">
            <div *ngIf="isImgLoaded" class="container">
              ₱{{ productArray.product_price }}
            </div>
            <div *ngIf="isImgLoaded" class="container">
              STOCKS: {{ productArray.product_quantity }}
            </div>
          </div>
        </div>
        <div class="product_options__container">
          <div class="orderQuantity_changer__container">
            <div class="title">QUANTITY</div>
            <div class="changer">
              <div class="decrement" (click)="itemQuantity(-1)">-</div>
              <div class="">{{ quantity }}</div>
              <div class="increment" (click)="itemQuantity(1)">+</div>
            </div>
          </div>

          <button [disabled]="isSubmitted" class="addtocart_btn" (click)="addToCart()">
            Add to cart
          </button>
        </div>
      </div>

      <div class="product_owner__container">
        <div class="shop__container">
          <div class="shop_details">
            <img
              *ngIf="isImgLoaded"
              [src]="
                productArray.Store.store_image == null
                  ? 'https://raw.githubusercontent.com/christianparanas/insta-clone-frontend/main/public/Default.png'
                  : productArray.Store.store_image
              "
              alt="store image"
            />
            <div class="shop_name_address">
              <div *ngIf="isImgLoaded" class="name">
                {{ productArray.Store.store_name }}
              </div>
              <div class="address">Tacloban City</div>

              <div class="boxtbns">
                <div class="btn chatstore">
                  <i class="fad fa-comment-alt-dots"></i> Chat now
                </div>
                <div
                  *ngIf="isImgLoaded"
                  [routerLink]="['/store/', productArray.Store.id]"
                  class="btn viewshop"
                >
                  <i class="fal fa-shopping-bag"></i>View shop
                </div>
              </div>
            </div>
          </div>
          <div
            class="viewshop_btn"
            *ngIf="isImgLoaded"
            [routerLink]="['/store/', productArray.Store.id]"
          >
            View Shop
          </div>
        </div>

        <div class="shop_interactions_details-desk">
          <div class="inter">Ratinngs: <span>1.6K</span></div>
          <div class="inter">Response Rate: <span>18%</span></div>
          <div class="inter">Joined: <span>2 years ago</span></div>
          <div class="inter">Products: <span>99</span></div>
          <div class="inter">Response Time: <span>within minutes</span></div>
          <div class="inter">Follower: <span>999</span></div>
        </div>

        <div class="shop_interactions_details">
          <div class="container">
            <h4>69</h4>
            <p>Products</p>
          </div>
          <div class="container">
            <h4>2.5</h4>
            <p>Rating</p>
          </div>
          <div class="container">
            <h4>12%</h4>
            <p>Chat Response</p>
          </div>
        </div>
      </div>
    </div>

    <div class="similar_products__container">
      <h4>SIMILAR PRODUCTS</h4>

      <div class="container">
        <app-productpreview
          *ngFor="let product of simillarProductsArray"
          [productArray]="product"
          (click)="refetch()"
        ></app-productpreview>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
