<div class="lightbox" >
    <div class="content">
       <h3>ADD PRODUCT</h3>
       <form action="" method="post">
         <div class="form-group">
              <label for="">Product Name : </label>
              <input type="text" class="form-control"name="pro_name" id="">
         </div>
          <div class="form-group">
               <label for="">Product Image : </label>
               <input type="file" class="form-control"name="pro_img" id="">
          </div>
          <div class="form-group">
               <label for="">Price : </label>
               <input type="text" class="form-control"name="pro_name" id="">
          </div>
          <div class="form-group">
               <label for="">Quantity: </label>
               <input type="text" class="form-control"name="pro_name" id="">
          </div>
          <div class="form-group">
               <label for="">Descriptions :</label>
               <textarea name="des" id="" class="form-control"cols="" rows="6"></textarea>
          </div>
          <div class="button">
              <button type="submit" name="add">Add</button>
              <a href=""routerLink="/account/store"class="cancel">Cancel</a>
          </div>
       </form>
   </div>
   </div>