<div class="container-fliud">
            <div class="header">
             <div class="title">
                 <h3>Shoppepe</h3>
              </div>
               <form class="form"action="" method="get">
                 <i class="material-icons">search</i>
                 <input type="text" col="56"name=""placeholder="Search items or store" id="">
                 <img src="./icons/shopping_cart_white_24dp.svg" alt=""style="color:white">
               </form><br><br>
            </div>
           
              <div class="icons">
                <img src="./icons/home_black_24dp.svg" alt=""styele="">
                <img src="./icons/local_offer_black_24dp.svg" alt="">
                <img src="./icons/store_mall_directory_black_24dp.svg" alt="">
                <img src="./icons/perm_identity_black_24dp.svg" alt="">
              </div>
              <div class="icons-name">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Tags</a></li>
                    <li><a href="">Store</a></li>
                    <li><a href="">Me</a></li>
                </ul>
              </div>
           
       </div>