@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;900&display=swap');

$textHeaderColor:#725C5C;
$btnBgColor:#904490;
$font-family:'Montserrat', sans-serif;
$btnColor:white;


*{
    margin: 0;
    padding: 0;
    box-shadow: border-box;
    font-family: $font-family;
}

input,button{
    display:flex;
    border-radius: 15px;
    width:80%;
    height:3rem;
    margin:5px;
    box-shadow: 0px 3px 5px $textHeaderColor;
    border:none;
    font-size: 1rem;
}

input{
    text-indent: 20px;
}

.btnLogin{
    background-color: $btnBgColor;
    color:$btnColor;
}

.btnRegister{
    color:$btnBgColor;
}


input:focus{
    border:none;
}

.form-container{
    display:flex;
    width:100%;
    height: 100%;
    justify-content: center;
    form{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width:100%;
        button{
            display:flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            font-size: 1.5rem;
            text-shadow: 1px 1px 2px black;
        }
        p{
            display:flex;
            width:70%;
            justify-content: center;
            align-items: center;
            margin:5px;
        }
        
    .forget-link{
        justify-content: flex-end;
    }
    }
}
