

<div class="account_setting__container">
	

	<div class="account_setting">
		<div class="header">
			<div class="backBtn" routerLink="/account">
	      <i class="far fa-arrow-left"></i>
	    </div>
	    <h2>ACCOUNT SETTINGS</h2>
		</div>

		<div class="content__container">
			<div class="container">
				<div class="header">
					My Account
				</div>
				<div class="items">
					<div class="item">
						<p>My Profile</p>
						<i class="far fa-chevron-right"></i>
					</div>
					<div class="item">
						<p>My Addresses</p>
						<i class="far fa-chevron-right"></i>
					</div>
					<div class="item">
						<p>Bank Accounts/Cards</p>
						<i class="far fa-chevron-right"></i>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="header">
					Support
				</div>
				<div class="items">
					<div class="item">
						<p>Help Centre</p>
						<i class="far fa-chevron-right"></i>
					</div>
					<div class="item">
 						<p>About</p>
						<i class="far fa-chevron-right"></i>
					</div>
					<div class="item">
						<p>Request Account Deletion</p>
						<i class="far fa-chevron-right"></i>
					</div>
				</div>
			</div>
		</div>

		<div class="logout_btn">
			LOGOUT
		</div>
	</div>
</div>
