<div class="userStore_container">
  <div class="blackopacitybg" *ngIf="isBlackBgOpen"></div>

  <div
    class="addproduct_modal_container"
    [@inOutAnimation]
    *ngIf="isAddProductModalOpen"
  >
    <app-create-product-modal
      (btnClickCloseModal)="openCloseNewProductModal(); fetchUserstoreDataAndProducts()"
    ></app-create-product-modal>
  </div>

  <div
    *ngIf="isSettingModalOpen"
    [@inOutAnimation]
    class="userstoreSettingModal_container"
  >
    <div class="userstore_setting_header">
      <h5>Settings</h5>
      <i (click)="openCloseSettingModal()" class="fal fa-times"></i>
    </div>
    <form class="userstore_setting_body">
      <div class="userstore_setting_img_container">
        <div class="box">
          <img
            [src]="storeData.store_image == null || storeData.store_image != userSettingForm.store_img ? imgFilePreview : storeData.store_image"
            alt="Userstore image"
          />
          <input
            type="file"
            #settingImgInput
            class="imageInput"
            [(ngModel)]="userSettingForm.store_img"
            [ngModelOptions]="{ standalone: true }"
            (change)="loadInputImgToPreview($event)"
          />
          <i class="fal fa-camera" (click)="settingImgInput.click()"></i>
        </div>
      </div>
      <div class="userstore_setting_details_container">
        <div class="input-box">
          <label for="">Store name</label>
          <input
            type="text"
            placeholder="Enter store name"
            [(ngModel)]="userSettingForm.store_name"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
        <div class="input-box">
          <label for="">Store address</label>
          <input
            type="text"
            placeholder="Enter store adress"
            [(ngModel)]="userSettingForm.store_address"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>

        <button
          class="updateSettingBtn_container"
          (click)="onSubmitUserSettingForm()"
          [disabled]="submitLoading"
        >
          <h4 *ngIf="!submitLoading">Update Data</h4>
          <div *ngIf="submitLoading" class="loader"></div>
        </button>
      </div>
    </form>
  </div>

  <div class="userStore_header_container">
    <div class="userStore_header_content_container">
      <div
        class="userStore_options_container"
        [ngClass]="{ header__scrollShadow: onScroll }"
      >
        <button mat-icon-button class="goBack" (click)="goBack()">
          <i class="fal fa-arrow-left"></i>
        </button>
        <div class="iconsBtn">
          <i class="far fa-bell">
            <p>99</p>
          </i>
          <i class="far fa-comment-alt" routerLink="/account/store/messages">
            <p>99</p>
          </i>
        </div>
      </div>

      <div class="userStore_store_details_container">
        <div class="image_container">
          <img
            *ngIf="storeData"
            [src]="
              storeData.store_image == null
                ? 'https://raw.githubusercontent.com/christianparanas/insta-clone-frontend/main/public/Default.png'
                : storeData.store_image
            "
            alt="No image"
          />
        </div>
        <div class="store_details">
          <h5 class="userStore_name">
            {{ storeData ? storeData.store_name : "Loading" }}
          </h5>
          <div class="userStore_interactions">
            <div class="following">11 Following</div>
            <div class="followers">9 Followers</div>
          </div>
        </div>
        <div class="store_setting_btn">
          <i (click)="openCloseSettingModal()" class="fal fa-cog"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="userStore_content_container">
    <div class="userStore_addproduct_container">
      <div class="content_wrapper">
        <div class="img_container">
          <img src="../../../assets/svgs/storeSvg.svg" alt="" />
        </div>
        <div class="addproduct_btn_container">
          <p>Start selling on Shoppiee</p>
        </div>
      </div>
    </div>

    <div class="userStore_products_container">
      <div class="products_container">
        <div class="products_wrapper">
          <button
            mat-fab
            color="primary"
            class="addBtn"
            #tooltip="matTooltip"
            matTooltip="Add new product"
            matTooltipPosition="left"
            (click)="openCloseNewProductModal()"
          >
            <mat-icon>add</mat-icon>
          </button>

          <header>
            <h2 class="label">Products</h2>
            <div class="interact_wrapper">
              <mat-form-field MatFormFieldControl appearance="standard">
                <mat-label>Search</mat-label>
                <input
                  matInput
                  (keyup)="applyFilter($event)"
                  placeholder="Ex. Bag"
                  #input
                />
              </mat-form-field>
              <button
                mat-button
                mat-raised-button
                color="primary"
                (click)="openCloseNewProductModal()"
              >
                Add new product
              </button>
            </div>
          </header>

          <div class="products_content_container">
            <div class="mat-elevation-z8">
              <table mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="image">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Image
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <img
                      class="productImage"
                      [src]="row.product_image"
                      alt=""
                    />
                  </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Name
                  </th>
                  <td mat-cell *matCellDef="let row">
                    {{
                      row.product_name.length > 10
                        ? row.product_name.substring(0, 10) + " ..."
                        : row.product_name
                    }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="stock">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Stocks
                  </th>
                  <td mat-cell *matCellDef="let row">
                    {{ row.product_quantity }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="price">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Price
                  </th>
                  <td mat-cell *matCellDef="let row">
                    {{ row.product_price }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="options">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    class="head"
                  >
                    Options
                  </th>
                  <td mat-cell *matCellDef="let row" class="optionCon">
                    <button mat-button mat-raised-button color="accent">
                      Edit
                    </button>
                    <button mat-button mat-raised-button color="warn">
                      Delete
                    </button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns"
                ></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="4">
                    No data matching the filter "{{ input.value }}"
                  </td>
                </tr>
              </table>

              <mat-paginator
                [pageSizeOptions]="[5, 10, 25, 100]"
                aria-label="Select page of users"
              ></mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-container">
    <app-footer></app-footer>
  </div>
</div>
