.userStore_container {
  .userStore_header_container {
    .userStore_header_content_container {

      .userStore_options_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        font-size: 22px;
        position: fixed;
        width: 100%;
        z-index: 100;
        background: #fff;
        transition: all 0.2s ease;
        height: 58px;

        .goBack {
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
    
          i {
            font-size: 18px;
          }
        }

        .iconsBtn {
          display: grid;
          grid-gap: 2px;
          grid-template-columns: auto auto;

          i {
            padding: 10px;
            font-size: 23px;

            p {
              position: absolute;
              transform: translateY(-33px) translateX(11px);
              font-size: 9px;
              border-radius: 50%;
              background-color: rgb(255, 92, 0);
              width: 20px;
              height: 20px;
              color: #fff;
              display: flex;
              justify-content: center;
              align-items: center;
              z-index: 3;
            }
          }

          .fa-comment-alt {
            font-size: 23px;
          }
        }
      }

      .header2__scrollShadow {
        box-shadow: 0 4px 4px 0 rgb(105, 4, 105);
      }

      .header__scrollShadow {
        box-shadow: 0 4px 4px 0 RGB(43 80 237 / 20%);
        border-bottom: 1px solid #fff;
        background: white;
        color: rgb(2, 2, 80);
      }

      .userStore_store_details_container {
        background: purple;
        color: #fff;
        padding: 20px 20px 10px;
        padding-top: 110px;
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-gap: 12px;

        .image_container {
          width: 100%;

          img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            object-fit: cover;
          }
        }

        .store_details {
          .userStore_name {
            margin: 12px 0 8px;
            font-size: 16px;
          }

          .userStore_interactions {
            display: flex;
            font-size: 10px;

            .following {
              margin-right: 10px;
            }
          }
        }

        .store_setting_btn {
          i {
            font-size: 20px;
          }
        }
      }
    }
  }

  .userStore_content_container {
    padding: 20px;

    .userStore_addproduct_container {
      padding: 20px 20px 80px;

      .content_wrapper {
        display: grid;
        grid-gap: 20px;
        width: 100%;
        place-items: center;

        .img_container {
          width: 100%;
          display: flex;
          justify-content: center;

          img {
            width: 100px;
          }
        }

        .addproduct_btn_container {
          margin-top: 30px;

          p {
            font-size: 10px;
            text-align: center;
          }

          .btn {
            margin-top: 15px;
            border: 1px solid #e3e3e3;
            font-size: 15px;
            padding: 10px 25px;
            text-align: center;
            border-radius: 0;
            box-shadow: 0px 2px 2px 0px RGB(43 80 237 / 20%);
            cursor: pointer;
            transition: all 0.3s ease;
            background: #fff;

            &:hover {
              border: 1px solid #8d00ca;
              color: #8d00ca;
            }
          }
        }
      }
    }

    .userStore_products_container {
      .products_container {
        .products_wrapper {
          min-height: 100vh;
          padding-top: 0;
          position: relative;
      
          .addBtn {
            position: fixed;
            bottom: 40px;
            right: 20px;
            z-index: 19;
          }
      
          .addproduct_modal_container {
            position: fixed;
            left: 0;
            width: 100%;
            height: 100%;
            background: purple;
            z-index: 101;
            padding: 20px;
            left: 50%;
            transform: translate(-50%);
      
            .header {
              display: flex;
              justify-content: flex-end;
      
              i {
                padding: 7px 10px;
                cursor: pointer;
              }
            }
      
            
          }
      
          
      
          header {
            background: #fff;
            width: 100%;
            padding: 100px 20px 20px;
      
            h2 {
              color: #310f74;
            }
      
            .interact_wrapper {
              display: flex;
              justify-content: space-between;
              align-items: center;
      
              button {
                height: fit-content;
                display: none;
              }
            }
          }
      
          .products_content_container {
            width: 100%;
      
            .mat-table {
              width: 100%;
            }
      
            .mat-elevation-z8 {
              box-shadow: 0 14px 30px 0 RGB(43 80 237 / 20%);
              overflow: auto;
            }
      
            table {
              width: 100%;
            }
      
            .mat-form-field {
              font-size: 14px;
              width: 100%;
            }
      
            td,
            th {
              width: 25%;
      
              .productImage {
                width: 50px;
                height: 50px;
              }
            }
          }
        }
      }
      
      @media only screen and (min-width: 600px) {
        .products_container {
          .products_wrapper {
            padding: 20px 20px;
            padding-top: 0;
      
            .addBtn {
              display: none;
            }
      
            .addproduct_modal_container {
              
            }
        
            header {
              background: #fff;
              width: 100%;
              padding: 100px 20px 20px;
        
              h2 {
                color: #310f74;
              }
        
              .interact_wrapper {
                
                button {
                  display: block;
                }
              }
            }
        
            .products_content_container {
              width: 100%;
        
              .mat-table {
                width: 100%;
              }
        
              .mat-elevation-z8 {
                box-shadow: 0 14px 30px 0 RGB(43 80 237 / 20%);
                overflow: auto;
              }
        
              table {
                width: 100%;
              }
        
              .mat-form-field {
                font-size: 14px;
                width: 100%;
              }
        
              td,
              th {
                width: 25%;
        
                .productImage {
                  width: 50px;
                  height: 50px;
                }
              }
            }
          }
        }
      }
      
    }
  }
}




// ruel msg panel css

.msgPanel {
  position: fixed;
  width: 100%;

  .message-profile {

  }

  .myprofile {
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    align-items: center;
    padding: 8px;
    border-radius: 50%;
  }
  .message-nav {
    position: static;
    width: 100%;
  }
  .nav1 {
    display: flex;
    width: 60%;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0px;
  }
  .msg_for_item {
    width: 70%;
    color: #555;
    overflow: hidden;
    height: 2.1vh;
    font-size: 13px;
    float: left;
  }
  .nav1 sub {
    flex: 1;
    text-align: right;
    font-size: 11px;
    font-family: Montserrat;
  }

  .message-details {
    padding-top: 5px;
    color: #555;
    font-family: Montserrat;
  }
  .message-details h3 {
    font-size: 15px;
  }
  .message-list:hover {
    background-color: rgba(85, 85, 85, 0.11);
  }
  .message-list {
    position: static;
    transition: 0.3s;
    width: 100%;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 4px 4px 0 RGB(43 80 237 / 20%);
  }
  .close {
    padding: 5px 0px;
    text-align: left;
    right: 40px;
    font-size: 17px;
  }
  .myname {
    font-size: 20px;
    color: #555;
    font-family: Montserrat;
    padding-left: 5px;
  }
  .profile {
    width: 13%;
    margin-left: 1%;
    border: 2px #735c5c solid;
    border-radius: 50%;
  }
  .nav {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0px;
  }
  .nav i {
    color: #555;
    cursor: pointer;
  }
  .message-head {
    z-index: 1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: fixed;
    background-color: #fff;
    border-bottom: 1px #e3e3e36b solid;
    margin-bottom: 2px;
    padding: 6px;
    width: 100%;
  }

  .message-container {
    border-radius: 5px;
    box-shadow: 0 4px 4px 0 RGB(43 80 237 / 20%);
    height: auto;
    height: 70vh;
    width: 80%;
    overflow: scroll;
    transition: all 0.3s ease;
    background-color: #fff;
  }
  .panel_container {
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: #e3e3e3;
    top: 40px;
    transition-duration: 0.3s;
    left: -100%;
    height: 90%;
    border-radius: 10px;
  }
  .panel_container:target {
    left: 0;
  }
  .panel_sumit {
    border-top: 1px rgba(85, 85, 85, 0.137) solid;
    position: fixed;
    padding-left: 30px;
    bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #fff;
    width: 100%;
  }

  .panel_content {
    position: relative;
    padding: 0px 0px;
    width: 100%;

    background-color: #e3e3e3;
    height: 100%;
  }
  .panel_content2 {
    position: relative;
    width: 100%;
    background-color: #fff;
    display: flex;
  }
  .panel_content2:hover > .form input {
    border: 1px #8d00ca5e solid;
  }
  .panel_content2:hover > .form button {
    color: #904490;
  }
  .form {
    display: flex;
    width: 100%;
  }

  .panel_content2 form > button {
    background-color: #fff;
    outline: none;
    padding-left: 8px;
    cursor: pointer;

    color: #555;
  }
  .panel_content2 form > i {
    font-size: 30px;
  }
  .panel_content2 form > input {
    border: 1px rgba(85, 85, 85, 0.39) solid;
    padding: 10px;
    outline: none;
    width: 80%;
    border-radius: 20px;
  }
  .panel_header {
    display: flex;
    background-color: #fff;
    border-bottom: 1px rgba(85, 85, 85, 0.185) solid;
    flex-wrap: wrap;
    text-align: center;
    padding: 8px;
  }
  .panel_header a {
    color: #555;
    display: flex;
    align-self: center;
    justify-content: center;
  }
  .panel_profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .panel_name {
    color: #555;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    padding: 5px;
  }
  @media only screen and (min-width: 999px) {
    .message-container {
      width: 30%;
      overflow: scroll;
    }
    .message-list {
      width: 90%;
      margin-left: 2%;
    }
    .panel_header {
      background-color: #8d00ca;
    }
    .panel_header h3 {
      color: #fff;
    }
    .panel_header a {
      color: #fff;
    }

    .message-head {
      color: #fff;

      padding-left: 10px;
      width: 80%;
      background-color: #8d00ca;
      padding: unset;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    .profile {
      width: 5%;
      border: 2px #fff solid;
    }
    .nav h3 {
      color: #fff;
    }
    .nav i {
      padding-left: 4px;
      color: #fff;
    }

    .panel_container {
      width: 30%;
      margin-left: 50%;
      margin-top: 10%;
      overflow: hidden;
    }
    .panel_sumit {
      width: 30%;
    }
    .panel_content2 form > input {
      width: 90%;
    }
  }
}
