@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;900&display=swap");


.userStore_container {
  
  .blackopacitybg {
    position: fixed;
    background: #000;
    width: 100%;
    height: 100%;
    z-index: 200;
    opacity: .3;
  }

  .addproduct_modal_container {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: fit-content;
    left: 50%;
    transform: translate(-50%);
    overflow: auto;
    z-index: 201;
  }

  .userstoreSettingModal_container {
    background: #fff;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 400;
    min-height: fit-content;
    padding: 20px;

    .userstore_setting_header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }

    .userstore_setting_body {
      width: 100%;

      .userstore_setting_img_container {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 182px;

        .box {
          position: relative;
          width: fit-content;

          img {
            width: 180px;
            height: 180px;
            object-fit: cover;
            border-radius: 50%;
            border: 1px solid #e3e3e3;
          }
  
          .fa-camera {
            position: absolute;
            bottom: 15px;
            right: 15px;
            padding: 10px;
            background: #000;
            color: #fff;
            opacity: .5;
            border-radius: 50%;
          }

          .imageInput {
            display: none;
          }
        }
      }

      .userstore_setting_details_container {
        width: 100%;
        margin-top: 20px;

        .imageInput {
          display: none;
        }

        .input-box {
          width: 100%;
          font-size: 12px;
          display: grid;
          grid-gap: 3px;
          margin-bottom: 10px;

          input {
            margin-top: 5px;
            border: 1px solid #e3e3e3;
            outline: 0;
            padding: 10px;
            resize: none;
            box-shadow: 0 2px 2px 0 RGB(43 80 237 / 20%);
            border-radius: 4px;
          }
        }

        .updateSettingBtn_container {
          margin-top: 20px;
          width: 100%;
          background: purple;
          color: #fff;
          padding: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 8px;
          box-shadow: 0 4px 4px 0 RGB(43 80 237 / 20%);
          cursor: pointer;
  
          h4 {
            font-size: 14px;
            font-weight: 600;
          }
  
          .loader,
            .loader:after {
              border-radius: 50%;
              width: 20px;
              height: 20px;
            }
  
            .loader {
              font-size: 10px;
              position: relative;
              border-top: 3px solid rgba(255, 255, 255, 0.2);
              border-right: 3px solid rgba(255, 255, 255, 0.2);
              border-bottom: 3px solid rgba(255, 255, 255, 0.2);
              border-left: 3px solid #ffffff;
              -webkit-transform: translateZ(0);
              -ms-transform: translateZ(0);
              transform: translateZ(0);
              -webkit-animation: load8 1.1s infinite linear;
              animation: load8 1.1s infinite linear;
            }
  
            @-webkit-keyframes load8 {
              0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
              }
              100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
              }
            }
            @keyframes load8 {
              0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
              }
              100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
              }
            }
        }
      }
    }
  }

  .userStore_header_container {
    .userStore_header_content_container {

      .userStore_options_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        font-size: 22px;
        position: fixed;
        width: 100%;
        z-index: 100;
        background: #fff;
        transition: all 0.2s ease;
        height: 58px;

        .goBack {
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
    
          i {
            font-size: 18px;
          }
        }

        .iconsBtn {
          display: grid;
          grid-gap: 2px;
          grid-template-columns: auto auto;

          i {
            padding: 10px;
            font-size: 23px;

            p {
              position: absolute;
              transform: translateY(-33px) translateX(11px);
              font-size: 9px;
              border-radius: 50%;
              background-color: rgb(255, 92, 0);
              width: 20px;
              height: 20px;
              color: #fff;
              display: flex;
              justify-content: center;
              align-items: center;
              z-index: 3;
            }
          }

          .fa-comment-alt {
            font-size: 23px;
          }
        }
      }

      .header2__scrollShadow {
        box-shadow: 0 4px 4px 0 rgb(105, 4, 105);
      }

      .header__scrollShadow {
        box-shadow: 0 4px 4px 0 RGB(43 80 237 / 20%);
        border-bottom: 1px solid #fff;
        background: white;
        color: rgb(2, 2, 80);
      }

      .userStore_store_details_container {
        background: purple;
        color: #fff;
        padding: 20px 20px 10px;
        padding-top: 110px;
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-gap: 12px;

        .image_container {
          width: 60px;
          height: 60px;

          img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            object-fit: cover;
          }
        }

        .store_details {
          .userStore_name {
            margin: 12px 0 8px;
            font-size: 16px;
          }

          .userStore_interactions {
            display: flex;
            font-size: 10px;

            .following {
              margin-right: 10px;
            }
          }
        }

        .store_setting_btn {
          i {
            font-size: 20px;
          }
        }
      }
    }
  }

  .userStore_content_container {
    padding: 20px;

    .userStore_addproduct_container {
      padding: 20px 20px 80px;

      .content_wrapper {
        display: grid;
        grid-gap: 20px;
        width: 100%;
        place-items: center;

        .img_container {
          width: 100%;
          display: flex;
          justify-content: center;

          img {
            width: 300px;
            position: absolute;
          }
        }
      }
    }

    .userStore_products_container {
      .products_container {
        .products_wrapper {
          min-height: 100vh;
          padding-top: 150px;
          position: relative;
      
          .addBtn {
            position: fixed;
            bottom: 40px;
            right: 20px;
            z-index: 19;
          }
      
          header {
            background: #fff;
            width: 100%;
            padding: 20px 20px;
      
            h2 {
              color: #310f74;
            }
      
            .interact_wrapper {
              display: flex;
              justify-content: space-between;
              align-items: center;
      
              button {
                height: fit-content;
                display: none;
              }
            }
          }
      
          .products_content_container {
            width: 100%;
      
            .mat-table {
              width: 100%;
            }
      
            .mat-elevation-z8 {
              box-shadow: 0 14px 30px 0 RGB(43 80 237 / 20%);
              overflow: auto;
            }
      
            .mat-form-field {
              font-size: 14px;
              width: 100%;
            }
      
            td,
            th {
              min-width: fit-content;
      
              .productImage {
                width: 50px;
                height: 50px;
              }
            }
          }
        }
      }
      
      @media only screen and (min-width: 600px) {
        .products_container {
          .products_wrapper {
            padding: 20px 20px;
            padding-top: 150px;
      
            .addBtn {
              display: none;
            }
        
            header {
              background: #fff;
              width: 100%;
              padding: 20px 20px;
        
              h2 {
                color: #310f74;
              }
        
              .interact_wrapper {
                
                button {
                  display: block;
                }
              }
            }
        
            .products_content_container {
              width: 100%;
        
              .mat-table {
                width: 100%;
              }
        
              .mat-elevation-z8 {
                box-shadow: 0 14px 30px 0 RGB(43 80 237 / 20%);
                overflow: auto;
              }
        
              .mat-form-field {
                font-size: 14px;
                width: 100%;
              }
        
              td,
              th {
                min-width: fit-content;
        
                .productImage {
                  width: 50px;
                  height: 50px;
                  object-fit: cover;
                }
              }

              .optionCon {
                display: flex;

                button:nth-child(1) {
                  margin-right: 5px;
                  color: #fff;
                }
              }
            }
          }
        }
      }
      
    }
  }
}


@media only screen and (min-width: 600px) { 
  .userStore_container {
  
    .blackopacitybg {
      position: fixed;
      background: #000;
      width: 100%;
      height: 100%;
      z-index: 200;
      opacity: .3;
    }
  
    .addproduct_modal_container {
      padding-top: 50px;
      position: fixed;
      left: 0;
      width: 100%;
      height: 100%;
      min-height: fit-content;
      left: 50%;
      transform: translate(-50%);
      overflow: auto;
      z-index: 201;
    }

    .userstoreSettingModal_container {
      background: #fff;
      position: fixed;
      width: 400px;
      margin: auto;
      z-index: 400;
      min-height: fit-content;
      padding: 20px;
      height: fit-content;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      overflow: auto;
      z-index: 201;
      border-radius: 8px;
    }
  }
}
