<div class="desktop-sidenav">
  <div class="sidenav-wrapper">
    <div class="route-items" routerLink="/admin">
      <i class="fad fa-analytics"></i>Dashboard
    </div>
    <div class="route-items" routerLink="/admin/products">
      <i class="fad fa-tshirt"></i>Products
    </div>
    <div class="route-items" routerLink="/admin/customers">
      <i class="fad fa-users"></i>Customers
    </div>
    <div class="route-items" routerLink="/admin/customers">
      <i class="fad fa-shopping-cart"></i>Orders
    </div>
    <div class="route-items" routerLink="/admin/stores">
      <i class="fad fa-store-alt"></i>Stores
    </div>
    <div class="route-items">
      <i class="fad fa-shopping-bag"></i>Shoppiee Mall
    </div>
  </div>
</div>
