.desktop-sidenav {
  height: 100vh;
  min-height: fit-content;
  padding: 20px;
  position: fixed;
  background: #fff;

  .sidenav-wrapper {
    padding: 20px 30px;
    box-shadow: 0 14px 30px 0 RGB(43 80 237 / 20%);
    height: 100%;
    min-height: 420px;
    border-radius: 40px;

    .logo {
      padding: 20px 20px 40px;
    }

    .route-items {
      padding: 10px;
      cursor: pointer;
      border-radius: 15px;
      border: 4px solid #fff;
      transition: all 0.3s ease;
      font-weight: 400;
      font-family: "Fredoka One", cursive;
      color: #6b5d5d;
      margin-bottom: 5px;

      i {
        margin-right: 10px;
        --fa-primary-color: #65676e;
        --fa-secondary-color: grey;
      }

      &:hover {
        border: 4px solid #20399e91;
        color: #10236fbf;

        i {
          --fa-primary-color: #10236fbf;
        }
      }
    }

    .currentRoute {
      background: #10236fbf;
      color: #fff;
      border: 4px solid #20399e91;

      i {
        --fa-primary-color: #bf98bdbf;
        --fa-secondary-color: #fff;
      }

      &:hover {
        border: 4px solid #20399e91;
        color: #fff;

        i {
          --fa-primary-color: #bf98bdbf;
        }
      }
    }
  }
}
