<div class="desktop-sidenav">
  <div class="sidenav-wrapper">
    <div
      class="route-items"
      [ngClass]="{ currentRoute: currentRoute === '/' }"
      routerLink="/admin"
      (click)="getCurrentRouteURL('/')"
    >
      <i class="fad fa-analytics"></i>Dashboard
    </div>
    <div
      class="route-items currentRoute"
      [ngClass]="{ currentRoute: currentRoute === 'products' }"
      routerLink="/admin/products"
      (click)="getCurrentRouteURL('products')"
    >
      <i class="fad fa-tshirt"></i>Products
    </div>
    <div
      class="route-items"
      [ngClass]="{ currentRoute: currentRoute === 'customers' }"
      routerLink="/admin/customers"
      (click)="getCurrentRouteURL('customers')"
    >
      <i class="fad fa-users"></i>Customers
    </div>
    <div
      class="route-items"
      [ngClass]="{ currentRoute: currentRoute === 'orders' }"
      routerLink="/admin/customers"
      (click)="getCurrentRouteURL('orders')"
    >
      <i class="fad fa-shopping-cart"></i>Orders
    </div>
    <div
      class="route-items"
      [ngClass]="{ currentRoute: currentRoute === 'stores' }"
      routerLink="/admin/stores"
      (click)="getCurrentRouteURL('stores')"
    >
      <i class="fad fa-store-alt"></i>Stores
    </div>
  </div>
</div>
