<div class="desktop-sidenav">
  <div class="sidenav-wrapper">
    <div class="logo">
      <img src="../../../../../assets/svgs/adminLogo.svg" alt="">
    </div>

    <div
      class="route-items"
      [ngClass]="{ currentRoute: currentRoute === '/' }"
      routerLink="/admin"
      (click)="getCurrentRouteURL('/')"
    >
      <i class="fal fa-analytics"></i>Dashboard
    </div>
    <div
      class="route-items currentRoute"
      [ngClass]="{ currentRoute: currentRoute === 'products' }"
      routerLink="/admin/products"
      (click)="getCurrentRouteURL('products')"
    >
      <i class="fal fa-tshirt"></i>Products
    </div>
    <div
      class="route-items"
      [ngClass]="{ currentRoute: currentRoute === 'customers' }"
      routerLink="/admin/customers"
      (click)="getCurrentRouteURL('customers')"
    >
      <i class="fal fa-users"></i>Customers
    </div>
    <div
      class="route-items"
      [ngClass]="{ currentRoute: currentRoute === 'orders' }"
      routerLink="/admin/orders"
      (click)="getCurrentRouteURL('orders')"
    >
      <i class="fal fa-shopping-cart"></i>Orders
    </div>
    <div
      class="route-items"
      [ngClass]="{ currentRoute: currentRoute === 'stores' }"
      routerLink="/admin/stores"
      (click)="getCurrentRouteURL('stores')"
    >
      <i class="fal fa-store"></i>Stores
    </div>
  </div>
</div>
