<div class="nav">
  <div class="top_nav_container">
    <div class="con">AdminPanel</div>
    <div class="con1">
      <div class="iconBtn"><i class="fal fa-user-alt"></i></div>
      <div class="iconBtn" (click)="openCloseMobileSidebar()">
        <i class="fal fa-bars"></i>
      </div>
    </div>
  </div>

  <div
    class="nav-side-nav-overlay_container"
    *ngIf="isMobileSidebarOpen"
    [@inOutAnimation]
  >
    <div class="side-nav-header">
      <i class="fal fa-times" (click)="openCloseMobileSidebar()"></i>
    </div>
    <div class="side-nav-route-items">
      <div
        class="route-items"
        routerLink="/admin"
        [ngClass]="{ currentRoute: currentRoute === '/' }"
        (click)="openCloseMobileSidebar(); getCurrentRouteURL('/')"
      >
        <i class="fad fa-analytics"></i>Dashboard
      </div>
      <div
        class="route-items"
        routerLink="/admin/products"
        (click)="openCloseMobileSidebar(); getCurrentRouteURL('products')"
        [ngClass]="{ currentRoute: currentRoute === 'products' }"
      >
        <i class="fad fa-tshirt"></i>Products
      </div>
      <div
        class="route-items"
        routerLink="/admin/customers"
        (click)="openCloseMobileSidebar(); getCurrentRouteURL('customers')"
        [ngClass]="{ currentRoute: currentRoute === 'customers' }"
      >
        <i class="fad fa-users"></i>Customers
      </div>
      <div
      class="route-items"
      [ngClass]="{ currentRoute: currentRoute === 'orders' }"
      routerLink="/admin/customers"
      (click)="openCloseMobileSidebar(); getCurrentRouteURL('orders')"
    >
      <i class="fad fa-shopping-cart"></i>Orders
    </div>
      <div
        class="route-items"
        routerLink="/admin/stores"
        (click)="openCloseMobileSidebar(); getCurrentRouteURL('stores')"
        [ngClass]="{ currentRoute: currentRoute === 'stores' }"
      >
        <i class="fad fa-store-alt"></i>Stores
      </div>
    </div>
  </div>
  <div
    class="nav-side-nav-bg-overlay"
    (click)="openCloseMobileSidebar()"
    *ngIf="isMobileSidebarOpen"
  ></div>
</div>
