@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');


* {
  -webkit-tap-highlight-color: transparent;
}

.nav {
  position: relative;
  

  .top_nav_container {
    background: #fff;
    color: #310F74;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #e3e3e3;

    .con1 {
      font-size: 20px;
      display: grid;
      grid-template-columns: 40px 40px;
      grid-gap: 10px;
      height: 100%;
      
      .iconBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        i {
          padding: 6px;
          border-radius: 8px;
        }
      }
    }
  }

  .nav-side-nav-bg-overlay {
      position: fixed;
      top: 0;
      background: #000;
      height: 100%;
      width: 100%;
      opacity: 0.5;
      z-index: 21;
  }

  .nav-side-nav-overlay_container {
    position: fixed;
    z-index: 22;
    padding: 20px;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background: #fff;

    .side-nav-header {
      display: flex;
      justify-content: end;
      float: right;
      
      i {
        padding: 10px;
        cursor: pointer;
        padding: 6px 8px;
        border: 4px solid #fff;
        transition: all .3s ease;
        border-radius: 8px;

        &:hover {
          border: 4px solid #8d00ca54;
        }
      }
    }

    .side-nav-route-items {
      margin-top: 60px;
      display: grid;
      grid-gap: 5px;

      .route-items {
        padding: 10px;
        cursor: pointer;
        border-radius: 15px;
        border: 4px solid #fff;
        transition: all .3s ease;
        font-weight: 400;
        font-family: 'Fredoka One', cursive;
        color: #6b5d5d;
        

        i {
          margin-right: 10px;
          --fa-primary-color: #65676e;
          --fa-secondary-color: grey;
        }
  
        &:hover {
          border: 4px solid #20399e91;
          color: #10236fbf;
  
          i {
            --fa-primary-color: #10236fbf;
          }
        }
      }

      .currentRoute {
        background: #10236fbf;
        color: #fff;
        border: 4px solid #20399e91;
  
        i {
          --fa-primary-color: #bf98bdbf;
          --fa-secondary-color: #fff;
        }
  
        &:hover {
          border: 4px solid #20399e91;
          color: #fff;
  
          i {
            --fa-primary-color: #bf98bdbf;
          }
        }
      }
    }
  }
}